@use "./util.scss" as *;

.color-picker {
	border: solid $sep-500 1px;
	box-shadow: 4px 4px 8px #0006;
	border-radius: 4px;
	width: 300px;
	contain: content;

	display: flex;
	flex-direction: column;
	background: $bg-100;

	& > .canvas-container {
		position: relative;
		cursor: crosshair;
		border-bottom: solid $sep-300 1px;
		width: 100%;
		height: 200px;

		& > .canvas {
			position: absolute;
			width: 100%;
			height: 100%;
			pointer-events: none;
		}
	}

	.range {
		cursor: pointer;
		position: relative;
		height: 16px;

		& > .reticle {
			position: absolute;
			top: -2px;
			bottom: -2px;
			width: 4px;
			background: $fg-100;
			box-shadow: 0 0 4px #1114;
			pointer-events: none;
			translate: -50% 0;
		}
	}

	.range-label {
		margin-inline: 8px;
		margin-top: 8px;
		margin-bottom: 4px;
	}

	.hue-map {
		& > .reticle {
			// PERF: use translate
			left: calc(var(--hue) / 360 * 100%);
		}
	}

	&[data-colorspace="oklch"] .hue-map {
		--luminance: 70%;
		--chroma: 50%;

		background: linear-gradient(
			to right in oklch longer hue,
			oklch(var(--luminance) var(--chroma) 0),
			oklch(var(--luminance) var(--chroma) 0)
		);
	}

	&[data-colorspace="srgb"] .hue-map {
		background: linear-gradient(
			to right in hsl longer hue,
			hsl(0 100% 50%),
			hsl(0 100% 50%)
		);
	}

	.alpha-map {
		--checker-size: 8px;
		--checker-one: white;
		--checker-two: #ccc;

		// TODO: dark mode checkers?
		// --checker-one: oklch(var(--color-bg1));
		// --checker-two: oklch(var(--color-bg2));

		background:
			linear-gradient(
			to right in var(--colorspace) longer hue,
			transparent,
			oklch(var(--luminance) var(--chroma) var(--hue))
		),
			repeating-conic-gradient(var(--checker-one) 0% 25%, var(--checker-two) 0%
			50%);
		background-size: 100% 100%, var(--checker-size) var(--checker-size);

		& > .reticle {
			// PERF: use translate
			left: calc(var(--alpha) / 360 * 100%);
		}
	}

	.input-wrapper {
		display: flex;
		align-items: center;
		margin: 8px;
		margin-bottom: 4px;
		gap: 4px;

		& > .dropdown-container {
			flex: 0 1 4em;
		}

		& > .input {
			flex: 1 1 0%;
			background: $bg-200;
			min-width: 0;
		}
	}

	.presets {
		margin: 8px;
		margin-block: 4px;

		& > .presets-grid {
			display: grid;
			grid-template-columns: repeat(8, 1fr);
			gap: 4px;

			& > .button {
				aspect-ratio: 1;
				border: none;
				border-radius: 4px;
			}
		}
	}
}

.color-picker-button {
	display: flex;
	min-width: 2em;
	min-height: 1em;
	border-radius: 2px;
	border: solid $sep-500 2px;

	&:hover {
		filter: brightness(90%);
	}

	& > .icon2 {
		/* background: $bg-100; */
		background: $fg-100;
	}

	&.wide {
		align-items: center;
	}
}

.gradient-picker {
	border: solid $sep-500 1px;
	box-shadow: 4px 4px 8px #1114;
	border-radius: 4px;
	width: 300px;
	contain: content;

	display: flex;
	flex-direction: column;
	background: $bg-100;

	& > .canvas-container {
		position: relative;
		cursor: crosshair;
		border-bottom: solid $sep-300 1px;
		width: 100%;
		height: 200px;

		& > .canvas {
			position: absolute;
			width: 100%;
			height: 100%;
			pointer-events: none;
		}

		& > .stop-marker {
			position: absolute;
			top: 50%;
			left: calc(var(--x) * 100%);
			right: calc(var(--y) * 100%);
			transform: translate(-50%, -50%);
			width: 16px;
			height: 16px;
			border: 2px solid #fff;
			border-radius: 50%;
			z-index: 10;

			&:hover {
				border: 2px solid #eee;
			}
		}
	}

	& > .stops {
		margin: 8px;
		display: flex;
		flex-direction: column;
		gap: 4px;

		& > .stop {
			display: flex;
			align-items: stretch;
			gap: 4px;

			& > .position-input {
				width: 3em;
				background: $bg-200;
				margin-block: 2px;
			}
		}
	}
}
