@use "./util.scss" as *;

.emoji-picker {
	display: grid;
	grid-template-columns: 48px auto;
	grid-template-rows: auto auto 48px;
	height: 420px;
	width: 420px;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 2px 2px 4px #0008;
	user-select: none;
	background: $bg-200;
	border: solid $sep-300 1px;

	header {
		grid-column: 1/3;
		display: flex;
		background: $bg-100;
		/* box-shadow: var(--shadow-header); */
		z-index: 1;
		padding: 16px;
	}

	.categories {
		grid-row: 2/4;
		display: flex;
		flex-direction: column;
		padding: 4px 0;
		background: $bg-150;
		align-items: center;
		overflow-y: auto;
	}

	.emojis {
		overflow-y: auto;
	}

	.group {
		display: grid;
		grid-template-columns: repeat(auto-fill, 40px);
		padding: 4px;
	}

	.preview {
		display: flex;
		background: $bg-100;
		align-items: center;

		.emoji {
			margin: 0 8px;
		}
	}

	.emoji {
		height: 40px;
		width: 40px;
		padding: 4px;
		font-size: 32px;
		cursor: pointer;
		border-radius: 4px;

		&:hover {
			background: #fff2;
		}
	}

	input[type="search"] {
		padding: 0 4px;
		flex: 1;
	}

	.emojis .label {
		position: sticky;
		top: 0;
		padding: 4px 8px;
		background: $bg-200;
		font-size: 16px;
		font-weight: 500;
	}

	.categories > button {
		background: none;
		border: none;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 24px;
		margin: 4px 0;
		cursor: pointer;
		width: 36px;
		height: 36px;
		border-radius: 4px;

		&:hover {
			background: #fff2;
		}
	}
}
