@use "./util.scss" as *;

.forum2 {
	grid-area: main;
	display: flex;
	padding: 0;
	align-items: stretch;
	justify-content: stretch;
	overflow: hidden;

	& > .list {
		padding: 1rem;
		background: $bg-150;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		height: 100%;

		.sort-view-container {
			.sort-view-button {
				border-radius: 4px;
				display: flex;
				align-items: center;
				gap: 4px;

				&.selected {
					background: $bg-200;
				}
			}
		}
	}

	& > .thread {
		display: flex;
		flex: 1;

		& > .aside {
			width: 256px;
			background: $bg-150;
			padding: 8px;
			overflow-y: auto;
		}

		& > .main {
			padding: 1rem;
			flex: 1;
			overflow-y: auto;
		}
	}

	.comments {
		padding: 8px;

		.comment {
			position: relative;
			border-left: solid $sep-500 1px;
			margin-bottom: -1px;

			& .comment {
				margin-left: 24px;
			}

			& > .inner:hover > .message-toolbar,
			&.toolbar-visible > .message-toolbar {
				visibility: visible;
			}
		}

		.toplevel {
			margin-top: 16px;
		}

		.comment > .inner {
			/* // &.fromop { */
			/* //   // TODO: find a good color */
			/* //   // making the border thicker doesn't look right */
			/* //   border-left: solid var(--borders) 1px; */
			/* // } */

			background: rgba(0, 0, 0, calc(var(--is-darker) * 0.1));
			border-radius: 4px;

			/* &.replied { */
			/* border-left: solid var(--color-accent) 1px; */
			/* } */

			& > header {
				display: flex;
				gap: 8px;
				/* background: $bg-150; */
				white-space: nowrap;
				align-items: center;

				& > .collapse {
					min-width: 24px;
					border: solid $sep-500 1px;
					border-left: none;
					display: flex;
					justify-content: center;
					background: $bg-200;
					font-family: var(--font-mono);

					&:hover {
						background: $bg-300;
						text-decoration: none;
					}
				}

				& > .childCount {
					font-size: 1rem;
				}

				/* & > .author > .green { */
				/* color: #77c57d; */
				/* } */

				& > time {
					color: var(--fg-dimmed);
				}

				& > .summary {
					color: $fg-400;
					font-style: italic;
					overflow: hidden;
					text-overflow: ellipsis;

					&::before {
						content: "-";
						margin-right: 8px;
					}
				}
			}

			&.collapsed > header {
				background: none;
			}

			& > .content {
				padding: 8px;
			}

			& > menu {
				display: flex;
				gap: 8px;
				padding: 0 8px;
				padding-bottom: 12px;

				& > button {
					background: none;
					border: none;
					padding: 0;
					font-size: 0.9rem;
					color: $fg-400;
				}
			}

			& > .children {
				list-style: none;
				margin-top: 8px;
			}
		}
	}

	.title {
		font-weight: bold;
	}
}

.sort-view-menu {
	menu {
		background-color: $bg-300;
		border: solid 1px $sep-500;
		box-shadow: 2px 2px 8px $bg-100;
		min-width: 128px;
		padding: 4px 0;
	}

	.header {
		color: $fg-500;
		padding: 2px 4px;
		font-size: 0.8rem;
		font-weight: bold;
	}

	.menu-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2px 4px;
		width: 100%;
		background: none;
		border: none;
		color: $fg-200;
		cursor: pointer;

		&:hover {
			background-color: $bg-400;
		}

		span {
			color: $link-500;
		}
	}

	hr {
		margin: 4px 0;
		height: 1px;
		background: $sep-500;
	}
}
