@use "./util.scss" as *;

.forum2 {
	grid-area: main;
	display: flex;
	padding: 0;
	align-items: stretch;
	justify-content: stretch;
	overflow: hidden;

	& > .list {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		height: 100%;

		.sort-view-container {
			.sort-view-button {
				border-radius: 4px;
				display: flex;
				align-items: center;
				gap: 8px;

				& .icon2 {
					rotate: 90deg;
					/* transition: rotate 200ms; */
				}

				&.selected {
					background-color: $bg-400;

					& .icon2 {
						rotate: 270deg;
					}
				}
			}
		}
	}

	.comments {
		padding: 8px 0;
	}

	.title {
		font-weight: bold;
	}

	.comment-sort-button {
		display: flex;
		align-items: center;
		gap: 8px;

		& .icon2 {
			rotate: 90deg;
		}

		&.selected {
			& .icon2 {
				rotate: 270deg;
			}
		}
	}
}

.forum2 > .thread {
	display: flex;
	flex: 1;
	min-height: 0;

	/* & > .aside { */
	/* width: 256px; */
	/* background: $bg-150; */
	/* padding: 8px; */
	/* overflow-y: auto; */
	/* } */

	& > .main {
		/* padding: 1rem; */
		flex: 1;
		overflow-y: auto;
		min-height: 0;
	}
}

.forum2-sorting {
	display: flex;
	background-color: $bg-150;
	border: solid 1px $sep-500;
	box-shadow: 2px 2px 8px $bg-100;
	min-width: 128px;
	padding: 4px;

	.header {
		margin: 2px 4px;
		margin-left: 24px;
		color: $fg-600;
	}

	.column {
		min-width: 128px;
	}

	.button {
		display: flex;
		gap: 4px;
		align-items: center;
		padding: 2px 4px;
		border-radius: 2px;
		width: 100%;
		border: none;
		color: $fg-500;
		background: none;

		.icon2 {
			visibility: hidden;
		}

		&:hover,
		&:focus-visible {
			color: $fg-100;
			background: #fff1;

			.icon2 {
				visibility: visible;
			}
		}

		&.selected {
			color: $fg-200;

			.icon2 {
				visibility: visible;
				background-color: $link-500;
			}
		}
	}

	&.forum2-comment-sorting .button {
		align-items: start;

		.icon2 {
			margin-top: 2px;
		}
	}
}

.comment-editor {
	padding: 8px;

	.text {
		display: flex;
		background: $bg-300;
		border: solid $bg-400 1px;
		border-radius: 4px;
		overflow: hidden;
		align-items: center;
		margin-bottom: 4px;

		.editor {
			flex: 1;
			border: none;
		}
	}
}

.forum2-list {
	padding: 8px;
	width: 100%;
}

.forum2-header {
	display: flex;
	align-items: center;

	& > .search {
		flex: 1;
	}
}

.thread-chat-sidebar > .thread.forum2 {
	overflow-y: auto;
	height: 100%;
}

.thread.forum2 {
	& > .main {
		width: 100%;

		& > .header {
			padding: 8px;
			background: $bg-150;
			border-bottom: solid $sep-300 1px;
		}
	}
}

.forum2 .comment-input > footer {
	height: auto;
}

.forum2-create-form {
	margin: 8px 0;
	padding: 8px;
	background: $bg-200;
	border: solid $sep-300 1px;
	border-radius: 4px;

	& > .title-input {
		width: 100%;
		margin-bottom: 8px;
	}

	& > .editor {
		border: solid transparent 1px;

		&:focus-within {
			border: solid $sep-500 1px;
		}
	}

	& > .editor > .ProseMirror {
		min-height: 3lh;

		& .placeholder {
			color: $fg-600;
		}
	}

	& .upload.button {
		background-color: $bg-300;
		cursor: pointer;
		padding: 2px 4px;
		border: solid $sep-500 1px;

		&:hover,
		&:focus {
			background-color: $bg-400;
		}
	}
}

.comment-sorting-option {
	display: flex;
	gap: 8px;
	.icon2 {
		margin-top: 2px;
	}
}

.forum2-post-menu {
	display: flex;
	padding: 4px 8px;
	background: $bg-100;
	position: sticky;
	top: 0;
	z-index: 1;

	/* // TODO: only show when stuck? */
	/* box-shadow: 2px 2px 8px $bg-100; */

	& > .left {
		display: flex;
		flex: 1;
		align-items: center;
	}

	& > .right {
		display: flex;

		& .icon-button {
			border-radius: 4px;

			&:hover,
			&:focus-visible {
				background: #fff1;
			}
		}
	}
}

.forum2 .comment-wrap {
	position: relative;
	--offset: calc(36px * var(--depth));

	& > .line {
		position: absolute;
		border-left: solid $sep-500 2px;
		border-bottom: solid $sep-500 2px;
		border-bottom-left-radius: 8px;
		z-index: 1;

		&.top {
			height: 20px;
			width: 18px;
			left: calc(var(--offset) - 12px);
			top: 2px;
		}

		&.side {
			left: calc(var(--offset) + 24px);
			top: 42px;
			width: 20px;

			// TODO: come up with a less hackier way of doing this?
			&.connects-to-reply {
				width: 0;
			}
		}
	}

	& > .children {
		margin-top: 0;
	}

	& > .comment-wrap2 {
	& > .comment {
		margin-left: var(--offset);
			background: none;
	}

	&:hover, &:focus-visible {
	background-color: oklch(var(--color-bg1) / 0.3);
	}

	}

	&.toplevel {
		margin-top: 16px;

		& > .line.top {
			display: none;
		}
	}

	&.from-op {
		/* // TODO: find a good color */
		/* // making the border thicker doesn't look right */
		/* border-left: solid var(--borders) 1px; */
	}

	& > .more {
		margin-left: calc(var(--offset) + 52px);
		cursor: pointer;

		&:hover, &:focus-visible {
			color: $fg-100;
		}
	}

	&.reply-target > .comment-wrap2 {
		box-shadow: 4px 0 0 -1px inset #cc1856;
		background-color: #cc185622;
	}

	&.selected > .comment-wrap2 {
		box-shadow: 4px 0 0 -1px inset #67dc82;
		background-color: #67dc8222;
	}
}

// TODO: .local class for comments
/* .forum2 .comment { */
/* & > header { */

/* & > .collapse { */
/* min-width: 24px; */
/* border: solid $sep-500 1px; */
/* border-left: none; */
/* display: flex; */
/* justify-content: center; */
/* background: $bg-200; */
/* font-family: var(--font-mono); */

/* &:hover { */
/* background: $bg-300; */
/* text-decoration: none; */
/* } */
/* } */

/* & > .childCount { */
/* font-size: 1rem; */
/* } */

/* & > .author > .green { */
/* color: #77c57d; */
/* } */

/* & > time { */
/* color: var(--fg-dimmed); */
/* } */

/* & > .summary { */
/* color: $fg-400; */
/* font-style: italic; */
/* overflow: hidden; */
/* text-overflow: ellipsis; */

/* &::before { */
/* content: "-"; */
/* margin-right: 8px; */
/* } */
/* } */
/* } */

/* &.collapsed > header { */
/* background: none; */
/* } */

/* & > .content { */
/* padding: 8px; */
/* } */

/* & > menu { */
/* display: flex; */
/* gap: 8px; */
/* padding: 0 8px; */
/* padding-bottom: 12px; */

/* & > button { */
/* background: none; */
/* border: none; */
/* padding: 0; */
/* font-size: 0.9rem; */
/* color: $fg-400; */
/* } */
/* } */
/* } */
/* } */

.root[data-message-style="cozy"] .message.comment {
	&.separate {
		margin-top: 0;
	}
}
