@use "./util.scss" as *;

.inbox {
	grid-area: main;
	background-color: $bg-200;
	color: $fg-200;
	display: flex;
	flex-direction: column;
	overflow-y: auto;

	& > header {
		display: flex;
		align-items: center;
		padding: 8px 16px;
		border-bottom: solid $sep-300 1px;
		background: $bg-100;
		height: 48px;

		h2 {
			font-size: 1.2rem;
		}

		.spacer {
			flex: 1;
		}
	}

	.inner {
		padding: 8px;
		max-width: 800px;
		margin: 8px;
	}

	.notification {
		background-color: $bg-300;
		border: solid 1px $sep-400;
		border-radius: 4px;
		margin-bottom: 8px;
		overflow: hidden;

		.notification-checkbox {
			margin-right: 8px;
		}

		&[data-type="Mention"] {
			border-left: 3px solid $link-500;
		}
		&[data-type="Reply"] {
			border-left: 3px solid $color-green;
		}
		&[data-type="Reminder"] {
			border-left: 3px solid $color-yellow;
		}
		&[data-type="MentionBulk"] {
			border-left: 3px solid $color-orange;
		}

		& > header {
			display: flex;
			align-items: center;
			padding: 4px 8px;
			font-size: 0.9rem;
			color: $fg-400;
			border-bottom: solid 1px $sep-400;

			.spacer {
				flex: 1;
			}

			.label {
				background: $bg-400;
				padding: 2px 4px;
				border-radius: 4px;
				font-size: 0.8rem;
			}

			.mark-read {
				margin-left: 8px;
				background: none;
				border: none;
				color: $fg-500;
				cursor: pointer;
				padding: 2px 4px;
				&:hover {
					color: $fg-200;
					background-color: $bg-400;
					border-radius: 4px;
				}
			}
		}

		& > .notification-content {
			padding: 8px 0;
		}

		.body-link {
			text-decoration: none;
			color: inherit;
			display: block;
			cursor: pointer;

			&:hover {
				background-color: $bg-400;
			}

			.message.withavatar {
				&:hover {
					background-color: transparent;
				}
			}
		}
	}
}
