@use "./util.scss" as *;

.inbox {
	overflow-y: auto;
	padding: 8px;
	grid-area: main;

	.inner {
		max-width: 550px;
	}

	.notification {
		border: solid $bg-300 1px;
		position: relative;
		background: $bg-150;
		margin-bottom: 8px;

		& > header {
			display: flex;
			background: $bg-200;
			border-bottom: solid $bg-300 1px;
			padding: 2px 4px;
			padding-right: 2px;
			align-items: center;
		}

		.label {
			display: inline-block;
			padding: 0 3px;
			border: solid $color-blue 1px;
			background: oklch(29.29% 0.1636 255.6);
		}

		&[data-type="reply"] .label {
			background: oklch(39.29% 0.1636 255.6);
		}

		&[data-type="new_thread"] .label {
			border-color: oklch(80.6% 0.15 299.2);
			background: oklch(30.6% 0.15 299.2);
		}

		&[data-type="unread"] .label {
			border-color: oklch(80.21% 0.1086 199.72);
			background: oklch(30.21% 0.1086 199.72);
		}

		&[data-type="friend_request_received"] .label {
			border-color: oklch(80.7% 0.1273 50.56);
			background: oklch(30.7% 0.1273 50.56);
		}

		&[data-type="dm_request"] .label {
			border-color: oklch(80% 0.128 168);
			background: oklch(30% 0.128 168);
		}

		&[data-type="friend_request_accepted"] .label {
			border-color: oklch(80.7% 0.1273 50.56);
			background: oklch(40.7% 0.1273 50.56);
		}

		&[data-type="reminder"] .label {
			border-color: oklch(85.53% 0.1395 130.14);
			background: oklch(35.53% 0.1395 130.14);
		}
	}

	.spacer {
		flex: 1;
	}

	button {
		border: solid $sep-500 1px;
	}
}
