@use "./reset.scss";
@use "./fonts.scss";
@use "./code.scss";
@use "./theme.scss";
@use "./animation.scss" as *;
@use "./util.scss" as *;

@use "./media.scss";

:root {
	font: 16px/1.3 var(--font-default);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $fg-100;
	background-color: $bg-100;
}

::selection {
	background-color: #3fa9c988;
}

#root {
	display: grid;
	grid-template-areas:
		"nav2 nav header header" "nav2 nav main sidebar" "footer footer footer footer";
	grid-template-rows: auto 1fr auto;
	grid-template-columns: auto auto 1fr auto;
	height: 100vh;
	background-color: $bg-200;
	color: $fg-200;
}

#root > nav {
	grid-area: nav;
	width: 16rem;
	background-color: $bg-150;
	color: $fg-200;
	overflow-y: auto;
	display: flex;
	flex-direction: column;

	& > ul {
		padding: 0.25rem;
		display: flex;
		flex-direction: column;
	}

	& li {
		margin-top: 0.025rem;
	}

	& a {
		@include truncate;
		display: block;
		width: 100%;
		padding: 2px 4px;
		background-color: none;
		text-decoration: none;
		color: $fg-400;

		&.active {
			background-color: $bg-300;
		}

		&:hover,
		&:focus {
			background-color: $bg-400;
		}

		&.closed {
			color: $sep-500;
		}

		&.unread {
			font-weight: bold;
			color: $fg-200;
		}
	}

	& li > ul {
		margin-left: 1.5rem;
	}
}

button,
input[type="submit"] {
	padding: 0 0.25rem;
	background-color: $bg-300;
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: $bg-400;
	}
}

.home {
	grid-area: main;
	background-color: $bg-200;
	color: $fg-200;
	padding: 1rem;
	overflow-y: auto;

	& button {
		margin: 2px 0;
	}
}

.room-home {
	grid-area: main;
	background-color: $bg-200;
	color: $fg-200;
	padding: 1rem;
	overflow-y: auto;

	& .thread {
		contain: content;
		background-color: $bg-300;
		margin: 8px 0;
		border: solid 1px $sep-500;
		max-width: 800px;

		& > header {
			display: flex;
			flex-direction: column;
			padding: 4px 8px;
			cursor: pointer;
			border-bottom: solid 1px $sep-500;

			& > .top {
				display: flex;
				align-items: center;
				gap: 8px;

				& > .icon {
					background-color: $bg-400;
					height: 16px;
					width: 16px;
					border-radius: 50%;
				}

				& > .spacer {
					@include truncate;
					flex: 1;
				}

				/* TODO: use actual <time> */
				& > .time {
					color: $fg-300;
				}
			}
		}

		& > .preview > details {
			padding: 0.25rem;
			cursor: pointer;
			appearance: details;
		}

		& > footer {
			cursor: pointer;
			text-align: center;
		}
	}
}

.chat {
	grid-area: main;
	background-color: $bg-200;
	color: $fg-200;
	display: grid;
	grid-template-rows: 1fr auto;
	contain: strict;
	scrollbar-color: $bg-300 $bg-150;
	scrollbar-gutter: stable;

	& > .input {
		width: 100%;
		min-height: 100%;
		background-image: linear-gradient(to top, $bg-200 25%, transparent);
		display: flex;
		flex-direction: column;
		padding: 4px;
		max-height: 50%;

		& > .typing {
			background: $bg-300;
			padding: 0 4px;
		}

		& > .reply {
			display: flex;

			& > .info {
				padding: 0 4px;
				background-color: oklch(var(--color-bg1) / 0.8);
				flex: 1;
				border: solid 1px $sep-500;
			}

			& > .cancel {
				width: 124px;
				border: solid 1px $sep-500;
				background-color: $bg-200;
			}
		}

		& > .attachments {
			position: absolute;
			top: 0;
			translate: 0 -100%;
			right: 4px;
			display: flex;
			border: solid $sep-500 1px;
			flex-direction: column;
			max-width: 320px;
			max-height: 320px;
			overflow: auto;
			padding: 4px;
			background: $bg-200;

			& > article {
				background: red;
			}
		}

		& > .text {
			display: flex;

			& > .upload {
				width: 124px;
				padding: 4px;
				background: $bg-300;
				border: solid $bg-400 1px;
				cursor: pointer;

				&:hover {
					background: $bg-200;
				}

				& > input[type="file"] {
					display: none;
				}
			}

			& > .editor {
				flex: 1;
				box-shadow: 2px 2px 8px #1114;
			}
		}
	}

	& > .list {
		display: flex;
		flex-direction: column;
		overflow-y: auto;

		& > .header > header {
			grid-column: span 3;
			position: sticky;
			z-index: 1;
			top: 0;
			padding: 0 144px;
			background-color: $bg-300;
			margin-bottom: 4px;
			box-shadow: 0 2px 8px $bg-200;
		}

		& > li {
			display: grid;
			grid-template-columns: 128px 1fr max-content;

			&.message {
				grid-template-columns: 1fr;
			}

			&:not(.message) {
				overflow-anchor: none;
			}

			&.unread-marker {
				color: #3fa9c9;
				margin: 8px 0;

				& > .content {
					grid-column: 1 / 4;
					text-align: center;
					display: flex;
					align-items: center;

					&::before,
					&::after {
						content: "";
						display: block;
						background: #3fa9c9;
						height: 1px;
						flex: 1;
						margin: 0 8px;
					}
				}
			}

			&.selected {
				box-shadow: 4px 0 0 -1px inset #67dc82;
				background-color: #67dc8222;
			}

			&.context {
				box-shadow: 4px 0 0 -1px inset #cc1856;
				background-color: #cc185622;
			}

			&.header {
				display: contents;
			}
		}
	}

	& > .loading {
		position: absolute;
		top: 8px;
		left: 8px;
		padding: 8px;
		background: $bg-100;
		z-index: 100;
	}
}

.editor {
	background-color: $bg-300;
	flex: 1;
	border: solid 1px $sep-500;
	padding: 4px;
	white-space: pre-wrap;
	overflow-y: auto;

	&.disabled {
		background-color: $bg-400;
	}

	& .placeholder {
		position: absolute;
		color: $fg-400;
	}

	& .syn {
		color: $fg-500;
	}
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.3rem;
}

b,
strong {
	font-weight: bold;
}

s {
	text-decoration: line-through;
}

li,
p {
	white-space: pre-wrap;
}

pre,
code {
	background-color: $bg-200;
	font-family: var(--font-mono);
}

pre {
	overflow-x: auto;
	padding: 4px;
	white-space: pre;
}

a {
	color: $link-500;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

.underline-links a {
	text-decoration: underline;
}

.select-all {
	user-select: all;
}

em {
	font-style: italic;
}

.markdown {
	white-space: collapse;

	li,
	p {
		white-space: pre-wrap;
	}

	& ul,
	ol {
		white-space: normal;

		& ul,
		ol {
			margin-left: 1rem;
		}
	}

	& li {
		list-style-position: inside;
	}

	& ul > li {
		list-style-type: disc;
	}

	& ol > li {
		list-style-type: numbered;
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;

	& > .bg {
		position: absolute;
		animation: popup-bg 120ms linear forwards;
		width: 100%;
		height: 100%;
	}

	& > .content {
		position: absolute;

		& > .base {
			position: absolute;
			animation: popup-base 150ms cubic-bezier(0.42, 1.31, 0.52, 1.09) forwards;
			background-color: $bg-200;
			border: solid 1px $sep-500;
			width: 100%;
			height: 100%;
		}

		& > .inner {
			animation: popup-content 100ms cubic-bezier(0.33, 1.05, 0.39, 0.92)
				forwards;
			padding: 8px;
			color: $fg-300;
			max-width: 500px;
			min-width: 100px;
			min-height: 50px;
		}
	}
}

.contextmenu {
	position: fixed;
	pointer-events: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	scrollbar-width: none;
	z-index: 1;

	& > .inner {
		position: absolute;
		pointer-events: auto;
		padding-bottom: 8px;
	}
}

menu {
	background-color: $bg-300;
	border: solid 1px $sep-500;
	box-shadow: 2px 2px 8px $bg-100;
	color: $fg-400;
	overflow: hidden;
	min-width: 128px;

	& button {
		border: none;
		padding: 2px 8px;
		width: 100%;
		text-align: left;

		&:hover,
		&:focus {
			background-color: oklch(var(--color-bg1) / 0.5);
		}
	}

	& .submenu {
		padding: 0 8px;
		width: max-content;
	}

	& .subtext {
		color: $fg-500;
		font-size: 0.8rem;
		margin-top: -4px;
	}

	& hr {
		border: none;
		height: 1px;
		background-color: $bg-400;
	}
}

input[type="text"],
input[type="url"] {
	background-color: $bg-300;
	border: solid 1px $sep-500;
}

.settings {
	grid-area: main;
	background-color: $bg-200;
	color: $fg-200;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 144px 1fr;
	overflow: hidden;

	& > header {
		grid-column: span 2 / span 2;
		background-color: $bg-300;
		border-bottom: solid 1px $sep-500;
		padding: 0.5rem;
	}

	& > nav {
		background-color: $bg-300;
		padding: 0.25rem;

		& button {
			width: 100%;
			background-color: none;

			&:hover,
			&:focus {
				background-color: $bg-400;
			}

			&.selected {
				background-color: $bg-300;
			}
		}
	}

	& > main {
		&.padded {
			padding: 0.25rem;
		}

		overflow-y: auto;
	}

	& button.spaced {
		margin-left: 4px;
	}
}

article.message {
	display: grid;
	grid-template-columns: 128px 1fr max-content;

	&:hover {
		& > * {
			background-color: oklch(var(--color-bg1) / 0.3);
		}

		& > time {
			visibility: visible;
		}
	}

	&.reply {
		/* grid-template-rows: auto auto; */
	}

	& .author {
		@include truncate;
		cursor: pointer;
		color: $fg-400;
		text-align: right;
		padding: 0 8px;

		&:hover,
		&:focus {
			text-decoration: underline;
		}

		&.override-name {
			color: #9ca9db;
		}
	}

	& .sticky {
		position: sticky;
		top: 4px;
	}

	& > .reply {
		color: $fg-500;
		font-size: 0.8rem;
		cursor: pointer;
		grid-column: 1 / span 3;
		display: grid;
		grid-template-columns: 128px 1fr;

		&:hover {
			color: $fg-400;
		}

		& > .arrow {
			display: grid;
			place-items: center;
			justify-content: end;

			& > svg {
				height: 1em;
				margin-right: 8px;
				stroke: $sep-800;
				fill: none;
			}
		}

		& > .content {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			padding-right: 4em;

			& > .user {
				color: $fg-300;
				padding-right: 4px;
			}
		}
	}

	& > .content {
		padding-right: 8px;
		display: flex;
		flex-direction: column;
		align-items: start;
		min-width: 0;

		& > .body {
			overflow: hidden;
			max-width: 100%;

			&.local {
				color: $fg-500;
			}
		}

		& .edited {
			color: $fg-500;
			font-size: 0.8rem;
			cursor: pointer;
		}
	}

	& > time {
		visibility: hidden;
		color: $fg-400;
	}
}

.dim {
	color: $fg-500;
	font-size: 0.8rem;
}

.tooltip {
	top: 0;
	left: 0;
	display: grid;
	place-items: center;

	& > .base {
		position: absolute;
		background-color: $bg-200;
		border: solid 1px $sep-500;
		animation: popup-base 150ms cubic-bezier(0.42, 1.31, 0.52, 1.09) forwards;
		width: 100%;
		height: 100%;
	}

	& > .inner {
		padding: 8px;
		color: $fg-300;
		animation: popup-content 100ms cubic-bezier(0.33, 1.05, 0.39, 0.92)
			forwards;
		max-width: 500px;
		min-width: 100px;
		min-height: 1rem;
	}

	&.interactive {
		padding: var(--padding);
		margin: calc(-1 * var(--padding));

		& > .base {
			height: calc(100% - var(--padding) * 2);
			width: calc(100% - var(--padding) * 2);
		}
	}

	&:not(.animate) {
		& > .base {
			animation-duration: 0s;
		}

		& > .inner {
			animation-duration: 0s;
		}
	}
}

#overlay {
	position: fixed;
	z-index: 1;
}

.tooltip .user {
	min-width: 200px;

	display: grid;
	grid-template-columns: 64px auto;
	/* grid-template-rows: 64px; */
	grid-template-rows: auto;
	/* grid-template-areas: "avatar name" "info info"; */
	grid-template-areas: "avatar info";
	gap: 8px;

	/* & > .name { */
	/* grid-area: name; */
	/* } */

	& .name {
		/* grid-area: name; */
		font-weight: bold;
	}

	& > .avatar {
		grid-area: avatar;
		height: 64px;
	}

	& > .info {
		grid-area: info;
	}

	& h3 {
		font-size: 1em;
		font-weight: bold;
	}
}

.attachments {
	display: flex;
	overflow-x: auto;
	max-width: 100%;
	margin-bottom: 8px;
	scrollbar-width: none;

	& > li:not(.raw) {
		background-color: $bg-300;
		padding: 4px;
	}

	& > li {
		min-width: 0;
	}
}

.input li .media {
	max-height: min(30vh, 500px);
}

summary {
	cursor: pointer;
}

.icon {
	height: 1em;
	width: 1em;
	filter: invert(0.9);
}

.room-settings-members {
	& > li {
		border: solid $sep-500 1px;
		background: $bg-300;
		margin-top: 4px;
		padding: 4px;
		display: grid;

		& > .name {
			font-size: 1em;
			font-weight: bold;
		}

		& > .roles {
			display: flex;
			gap: 4px;

			& li {
				border: solid $sep-500 1px;
			}

			& button {
				background: $bg-200;

				&:hover {
					background: $bg-300;
				}
			}
		}
	}
}

.room-settings-roles {
	display: flex;
	height: 100%;

	& .role-main {
		flex: 1;
	}

	& .role-main,
	.role-edit {
		padding: 0.25rem;
		overflow-y: auto;
	}

	.role-list,
	.role-edit {
		& button {
			background: $bg-200;
			border: solid $sep-500 1px;

			&:hover {
				background: $bg-300;
			}
		}
	}

	& .role-list > li {
		border: solid $sep-500 1px;
		background: $bg-300;
		margin-top: 4px;
		padding: 4px;
		cursor: pointer;

		& .info {
			display: flex;
			gap: 4px;
		}

		& .spacer {
			flex: 1;
		}

		& .name {
			font-size: 1em;
			font-weight: bold;
		}
	}

	& .role-edit {
		background: $bg-300;
		min-width: 300px;
		overflow-y: auto;

		& h3 {
			font-size: 1em;
			font-weight: bold;
		}

		& textarea,
		input[type="text"] {
			border: solid $sep-500 1px;
			background: $bg-200;
		}

		& button[disabled] {
			background: $bg-300;
		}
	}
}

/* FIXME: text alignment with uuids */
/* uuids have ascenders (tall glyphs) but no descenders (eg. qgyj) making code containing uuids look unbalanced */
code {
	padding: 0px 2px;
}

.room-settings-audit-log {
	& > li {
		border: solid $sep-500 1px;
		background: $bg-300;
		margin-top: 4px;
		padding: 4px;

		& .info {
			display: flex;
			gap: 4px;
		}

		& h3 {
			font-size: 1em;
			font-weight: bold;
		}

		& .spacer {
			flex: 1;
		}

		& button {
			background: $bg-200;
			border: solid $sep-500 1px;

			&:hover {
				background: $bg-300;
			}
		}
	}
}

.light {
	color: $fg-300;
}

img.avatar {
	height: 64px;
	width: 64px;
	display: block;
	object-fit: contain;
	background: $bg-100;

	/* should probably add a way to crop images in browser */
	/* object-fit: cover; */
	/* image-rendering: crisp-edges; */
}

.dropdown {
	display: inline-block;
	background: $bg-300;
	border: solid $sep-500 1px;
	padding: 0 2px;
	outline: none;
	cursor: pointer;
}

.dropdown-items {
	background: $bg-300;
	border: solid $sep-500 1px;
}

.floating {
	position: fixed;
	top: 0;
	left: 0;
}

.dropdown-items > ul {
	list-style: none;
}

.dropdown-items > ul > li {
	padding: 2px 4px;
	user-select: none;

	&:hover,
	&.hovered {
		background: $bg-200;

		&.selected {
			background: $bg-100;
		}
	}

	&.selected {
		/* box-shadow: inset 2px 0 0 $link-100; */
		background: $bg-150;
	}
}

input[type="range"] {
	appearance: auto;
	accent-color: $link-500;
}

.range {
	display: grid;
	grid-template-areas: "input input" "text dim";

	& > input {
		grid-area: input;
	}

	& > .dim {
		align-self: center;
	}

	& > .value {
		text-align: right;
	}
}

pre.numbered {
	counter-reset: line;

	& > code::before {
		counter-increment: line;
		content: counter(line);
		text-align: right;
		display: inline-block;
		color: $fg-500;
		width: 2ch;
		margin-right: 1em;
		user-select: none;
	}
}

.warn {
	color: $warn-500;
}

.error {
	color: $error-500;
}

.chat > .list > li.time-split {
	display: flex;
	color: $fg-600;
	font-size: 0.9rem;
	align-items: center;
	gap: 8px;
	margin: 2px 8px;

	& > hr {
		flex: 1;
		border-bottom: solid $sep-500 1px;
	}

	& > time {
		/* HACK: visually center text */
		margin-top: -1px;
	}
}

input[type="checkbox"] {
	appearance: checkbox;
}

button[disabled] {
	cursor: not-allowed;
}

.debug {
	padding: 16px;
	overflow: auto;

	& > details {
		border: solid $sep-500 1px;
		padding: 8px;

		& > summary {
			list-style: none;
		}
	}

	& textarea,
	input[type="text"] {
		border: solid $sep-500 1px;
		background: $bg-300;
	}
}

.dbg-resize {
	border: solid red 1px;
	resize: both;
	overflow: scroll;
	width: 100px;
	height: 100px;

	& > .inner {
		border: solid blue 1px;
		height: 10px;

		& > .main {
			max-height: min(var(--height), 300px, round(50vh, 1px));
			max-width: min(var(--width), 300px, round(50vw, 1px));

			border: solid green 1px;
			height: 10px;
			width: 10px;
			resize: both;
			overflow: hidden;
		}
	}
}

.embed {
	display: inline-grid;
	grid-template-columns: minmax(0, 1fr) auto;
	grid-template-rows: auto auto auto;
	grid-template-areas: "info thumb" "info thumb" ". media";
	/* width: 20em; */
	background: $bg-150;
	border: solid $sep-500 1px;
	margin-bottom: 4px;

	&.color {
		box-shadow: inset 4px 0 var(--color);
		padding-left: 4px;
	}

	& > .thumb {
		grid-area: thumb;
		width: 64px;
		padding: 8px;
	}

	& > .info {
		grid-area: info;
		padding: 8px;
		max-width: 320px;

		& .title {
			font-weight: bold;
		}

		& a.title {
			color: $link-400;
		}

		& .site {
			color: $fg-500;
		}

		& > .description {
			/* yeah i have no idea what the fuck the css spec is doing either */
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			margin-top: 8px;
		}
	}

	& > .media {
		grid-area: media;
		background: $bg-150;
	}
}

a:focus-visible {
	background: $link-500;
	color: $fg-100;
}

/* HACK: blockquote markdown parsing */
blockquote {
	white-space: normal;
}

blockquote {
	border-left: solid $sep-800 3px;
	margin: 2px 0;
	padding-left: 8px;
}

.status-indicator {
	height: 12px;
	aspect-ratio: 1/1;

	&[data-status="Online"] .indicator {
		fill: $status-online;
	}

	&[data-status="Offline"] .indicator {
		fill: $status-offline;
	}
}

svg.avatar {
	margin: calc(-1 * var(--pad));
}

.member-list {
	grid-area: sidebar;
	padding: 4px 0;
	width: 196px;
	background-color: $bg-150;
	overflow-y: auto;

	& > li {
		@include truncate;
	}
}

.member-list > .menu-user {
	display: flex;
	align-items: center;
	padding: 2px;
	cursor: pointer;
	/* make these buttons? */

	& > .text {
		grid-area: name;
		display: flex;
		flex-direction: column;
		padding: 2px 4px;
		flex: 1;
		overflow: hidden;

		& > .name {
			@include truncate;
			line-height: 1;
		}

		& > .status-message {
			@include truncate;
			line-height: 1;
			font-size: 0.9em;
			color: $fg-400;
		}
	}

	& > .avatar {
		height: 36px;
		padding: 4px 8px;
	}

	&:hover {
		background: #fff1;

		& > .text > .name {
			color: $fg-100;
		}
	}
}

.debug-colors > li > div {
	display: inline-block;
	height: 30px;
	width: 30px;
}

.colored {
	&.red {
		background: $color-red;
	}

	&.yellow {
		background: $color-yellow;
	}

	&.green {
		background: $color-green;
	}

	&.magenta {
		background: $color-magenta;
	}

	&.blue {
		background: $color-blue;
	}

	&.cyan {
		background: $color-cyan;
	}

	&.orange {
		background: $color-orange;
	}

	&.teal {
		background: $color-teal;
	}
}

table {
	border: solid $sep-500 1px;
	width: 100%;
	border-collapse: collapse;

	& tr {
		background: $bg-200;

		&:nth-child(even) {
			background: $bg-300;
		}
	}

	& thead tr {
		background: $bg-100;
	}

	& td,
	th {
		padding: 4px;
		text-align: left;
	}
}

.inbox > table {
	min-width: 500px;
}

.message.withavatar {
	grid-template-columns: 64px auto;
	grid-template-rows: auto 1em auto;
	grid-template-areas: "reply reply" "avatar author" "avatar content";

	& > .reply {
		grid-area: reply;
		grid-template-columns: 64px 1fr;

		& > .arrow > svg {
			width: 32px;
		}
	}

	& > .avatar {
		grid-area: avatar;
	}

	& > .author {
		grid-area: author;
		text-align: left;
		padding: 0;
		line-height: 1;

		& > time {
			margin-left: 4px;
			visibility: hidden;
			color: $fg-500;
		}
	}

	& > .content {
		grid-area: content;
	}

	&:hover {
		background-color: oklch(var(--color-bg1) / 0.3);

		& > .author > time {
			visibility: visible;
		}
	}

	& .avatar {
		height: 36px;
		width: 36px;
		margin: initial;
		margin-left: 24px;
	}

	& > .content {
		/* margin-top: -2px; */
	}

	&.notseparate {
		grid-template-rows: auto;

		& .avatar {
			grid-row: initial;
			height: 0;
		}
	}
}

.message + .message > .withavatar.separate {
	margin-top: 8px;
}

#root > header {
	grid-area: header;
	background: $bg-200;
	box-shadow: 0 2px 8px $bg-100;
	border-bottom: solid $sep-500 1px;
	padding: 8px;
	@include truncate;
}

#root > footer {
	grid-area: footer;
	background: $bg-150;
	border-top: solid $bg-300 1px;
	padding: 0 4px;
	display: flex;
	align-items: center;
	font-size: 0.9rem;
}

.webrtc > .ui {
	padding: 4px;
	border: solid $sep-500 1px;
	background: $bg-100;
	display: inline-block;

	.row {
		display: flex;
	}

	.strike {
		filter: none;

		image {
			filter: invert(0.9);
		}
	}

	.strike > line {
		visibility: hidden;
		stroke: $color-red;
	}

	.strike[aria-checked="true"] {
		image {
			mask: url(#strike);
		}

		line {
			visibility: visible;
		}
	}

	video {
		border: solid red 1px;
	}
}

.box {
	background: $bg-150;
	border: solid $sep-500 1px;
	padding: 4px;
	display: inline-block;
}

.dnd-hover {
	border-top: solid #3fa9c9 3px;
	margin-top: -3px;
}

.dnd-dragging {
	color: #aaa;
}

.user-settings-info {
	padding: 8px;

	.profile {
		display: grid;
		grid-template-rows: auto 1fr;
		grid-template-columns: auto 1fr;
		grid-template-areas: "avatar name" "avatar description";
		gap: 4px;

		.name {
			grid-area: name;
			font-weight: bold;
			font-size: 1.2em;
			cursor: pointer;
		}

		.description {
			grid-area: description;
		}

		.avatar {
			grid-area: avatar;
		}
	}
}

#root > .nav2 {
	width: 64px;
	display: flex;
	grid-area: nav2;
	overflow: auto;
	padding-top: 4px;
	padding-bottom: 240px;
	background-color: $bg-100;

	& > ul {
		flex-direction: column;
		align-items: center;

		& > li {
			min-height: 48px;
			width: 48px;
			background: #2a2a2a;
			margin-top: 4px;
			border-radius: 4px;
			display: flex;
			overflow: hidden;
		}
	}
}

.reactions {
	display: flex;
	gap: 4px;
	li {
		cursor: pointer;
		border: solid #445 1px;
		background: #4452;
		border-radius: 3px;
		padding: 2px 4px;
		display: flex;
		align-items: center;
		gap: 4px;
	}

	li.me {
		border: solid #44f 1px;
		background: #44f2;
	}
}

ins {
	color: $color-green;
	background: oklch(var(--color-green) / 0.1);
}

del {
	color: $color-red;
	background: oklch(var(--color-red) / 0.1);
	text-decoration: line-through;
}
