@use "./reset.scss";
@use "./fonts.scss";
@use "./code.scss";
@use "./theme.scss";
@use "./animation.scss" as *;
@use "./util.scss" as *;

@use "./media.scss";
@use "./inbox.scss";
@use "./voice-debug.scss";

:root {
	font: 16px/1.3 var(--font-default);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $fg-100;
	background-color: $bg-100;
}

::selection {
	background-color: #3fa9c988;
}

#root {
	display: grid;
	grid-template-areas:
		"nav2 nav header header" "nav2 nav main sidebar" "tray tray main sidebar" "footer footer footer footer";
	grid-template-rows: auto 1fr auto auto;
	grid-template-columns: auto auto 1fr auto;
	height: 100vh;
	background-color: $bg-200;
	color: $fg-200;
}

#root > nav {
	grid-area: nav;
	width: 16rem;
	background-color: $bg-150;
	color: $fg-200;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	scrollbar-width: none;

	& > ul {
		padding-top: 8px;
		padding-bottom: 240px;
		display: flex;
		flex-direction: column;
	}

	& li {
		margin-top: 0.025rem;
	}

	& a {
		@include truncate;
		display: block;
		width: 100%;
		padding: 2px 8px;
		background-color: none;
		text-decoration: none;
		white-space: nowrap;
		color: $fg-400;

		&.active {
			background-color: $bg-300;
		}

		&:hover,
		&:focus {
			background-color: $bg-400;
		}

		&.closed {
			color: $sep-500;
		}
	}

	& header {
		/* TODO: make this its own root grid section */
		position: sticky;
		top: 0;
		background: $bg-100;
		padding: 8px 16px;
		border-bottom: solid $sep-300 1px;
	}
}

#nav li {
	padding: 0 8px;

	&.unread {
		font-weight: bold;
		color: $fg-200;
		position: relative;

		&::before {
			position: absolute;
			top: 10%;
			left: 0;
			content: "";
			border-left: solid $sep-500 3px;
			height: 80%;
		}
	}
}

button,
input[type="submit"] {
	background-color: $bg-300;
	cursor: pointer;
	padding: 2px 4px;
	border: solid $sep-500 1px;

	&:hover,
	&:focus {
		background-color: $bg-400;
	}
}

.home {
	grid-area: main;
	background-color: $bg-200;
	color: $fg-200;
	padding: 1rem;
	overflow-y: auto;

	& button {
		margin: 2px 0;
	}
}

.room-home {
	grid-area: main;
	background-color: $bg-200;
	color: $fg-200;
	padding: 1rem;
	overflow-y: auto;

	& .thread {
		contain: content;
		background-color: $bg-300;
		margin: 8px 0;
		border: solid 1px $sep-500;
		max-width: 800px;

		& > header {
			display: flex;
			flex-direction: column;
			padding: 4px 8px;
			cursor: pointer;
			border-bottom: solid 1px $sep-500;

			& > .top {
				display: flex;
				align-items: center;
				gap: 8px;

				& > .icon {
					background-color: $bg-400;
					height: 16px;
					width: 16px;
					border-radius: 50%;
				}

				& > .spacer {
					@include truncate;
					flex: 1;
				}

				/* TODO: use actual <time> */
				& > .time {
					color: $fg-300;
				}
			}
		}

		& > .preview > details {
			padding: 0.25rem;
			cursor: pointer;
			appearance: details;
		}

		& > footer {
			cursor: pointer;
			text-align: center;
		}
	}
}

.chat {
	grid-area: main;
	background-color: $bg-200;
	color: $fg-200;
	display: grid;
	grid-template-rows: 1fr auto;
	contain: strict;
	scrollbar-color: $bg-300 $bg-150;
	scrollbar-gutter: stable;

	& > .list {
		display: flex;
		flex-direction: column;
		overflow-y: auto;

		& > .header {
			flex: 1;
			display: flex;
			justify-content: end;
			flex-direction: column;
		}

		& > .header > header {
			padding: 0 8px;
			margin-top: 32px;
			margin-bottom: 16px;
			box-shadow: 0 2px 8px $bg-200;
		}

		& > li {
			display: grid;
			grid-template-columns: 128px 1fr max-content;

			&.message {
				grid-template-columns: 1fr;
			}

			&:not(.message) {
				overflow-anchor: none;
			}

			&.unread-marker {
				color: #3fa9c9;
				margin: 8px 0;

				& > .content {
					grid-column: 1 / 4;
					text-align: center;
					display: flex;
					align-items: center;

					&::before,
					&::after {
						content: "";
						display: block;
						background: #3fa9c9;
						height: 1px;
						flex: 1;
						margin: 0 8px;
					}
				}
			}

			&.selected {
				box-shadow: 4px 0 0 -1px inset #67dc82;
				background-color: #67dc8222;
			}

			&.context {
				box-shadow: 4px 0 0 -1px inset #cc1856;
				background-color: #cc185622;
			}
		}
	}

	& > .loading {
		position: absolute;
		top: 8px;
		left: 8px;
		padding: 8px;
		background: $bg-100;
		z-index: 100;
	}

	& .spacer.mini {
		min-height: 3.5rem;
	}

	&.has-typing .spacer.mini {
		min-height: 4.5rem;
	}
}

.message-input {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-image: linear-gradient(to top, $bg-200 25%, transparent);
	display: flex;
	flex-direction: column;
	padding: 8px;
	max-height: 50%;

	&.locked {
		cursor: not-allowed;

		& > .text > .upload {
			cursor: inherit;
			color: $sep-800;

			&:hover {
				background: none;
			}
		}

		& .editor .placeholder {
			color: $sep-800;
		}
	}

	& > .typing {
		background: $bg-400;
		padding: 2px 4px;
		border: solid $bg-400 1px;
		border-bottom: none;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		color: $fg-400;

		& ~ .text {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-top: none;
		}

		&::after {
			content: "";
			animation: dots infinite 800ms;
		}
	}

	& > .reply {
		display: flex;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		border: solid 1px $sep-500;
		background-color: oklch(var(--color-bg1) / 0.8);
		overflow: hidden;

		& ~ .text {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-top: none;
		}

		& > .info {
			padding: 2px 8px;
			flex: 1;
		}

		& > .cancel {
			background-color: $bg-200;
			display: grid;
			place-items: center;
			width: 28px;

			&:hover {
				background-color: $bg-100;
			}
		}
	}

	& > .attachments {
		position: absolute;
		top: 0;
		translate: 0 -100%;
		right: 4px;
		border: solid $sep-500 1px;
		border-radius: 4px;
		max-height: 320px;
		overflow: hidden auto;
		background: $bg-200;
		display: flex;
		flex-direction: column;
		box-shadow: 2px 2px 8px #1114;

		header {
			background: $bg-150;
			padding: 6px;
			margin-bottom: 4px;
			padding-left: 56px;
			line-height: 1;
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 4px;
			padding: 4px;
		}

		button {
			border: none;
		}
	}

	& > .text {
		display: flex;
		background: $bg-300;
		border: solid $bg-400 1px;
		box-shadow: 2px 2px 8px #1114;
		border-radius: 4px;
		overflow: hidden;
		align-items: center;

		& > .upload {
			cursor: pointer;
			width: 2rem;
			height: 2rem;
			display: grid;
			place-items: center;
			font-weight: bold;

			&:hover {
				background: $bg-200;
			}

			& > input[type="file"] {
				display: none;
			}
		}

		& > .editor {
			flex: 1;
			border: none;
		}
	}
}

.quick-create {
	position: relative;
	background-image: none;
	padding: 8px 0;
}

.editor {
	background-color: $bg-300;
	flex: 1;
	border: solid 1px $sep-500;
	padding: 4px;
	white-space: pre-wrap;
	overflow-y: auto;
	caret-color: $fg-400;

	& .placeholder {
		position: absolute;
		color: $fg-400;
	}

	& .syn {
		color: $fg-500;
	}
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.3rem;
}

b,
strong {
	font-weight: bold;
}

s {
	text-decoration: line-through;
}

li,
p {
	white-space: pre-wrap;
}

pre,
code {
	background-color: $bg-200;
	font-family: var(--font-mono);
}

pre {
	overflow-x: auto;
	padding: 4px;
	white-space: pre;
}

a {
	color: $link-500;
	cursor: pointer;
	border-radius: 2px;

	&:hover {
		background: #fff2;
	}
}

.underline-links a {
	text-decoration: underline;
}

.select-all {
	user-select: all;
}

em {
	font-style: italic;
}

.markdown {
	white-space: collapse;

	li,
	p {
		white-space: pre-wrap;
	}

	& ul,
	ol {
		white-space: normal;

		& ul,
		ol {
			margin-left: 1rem;
		}
	}

	& li {
		list-style-position: inside;
	}

	& ul > li {
		list-style-type: disc;
	}

	& ol > li {
		list-style-type: numbered;
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;

	& > .bg {
		position: absolute;
		animation: popup-bg 120ms linear forwards;
		width: 100%;
		height: 100%;
	}

	& > .content {
		position: absolute;

		& > .base {
			position: absolute;
			animation: popup-base 150ms cubic-bezier(0.42, 1.31, 0.52, 1.09) forwards;
			background-color: $bg-200;
			border: solid 1px $sep-300;
			width: 100%;
			height: 100%;
		}

		& > .inner {
			animation: popup-content 100ms cubic-bezier(0.33, 1.05, 0.39, 0.92)
				forwards;
			padding: 16px;
			color: $fg-300;
			max-width: 500px;
			/* min-width: 100px; */
			min-height: 50px;
		}
	}

	.bottom {
		background: $bg-150;
		margin: -15px;
		margin-top: 16px;
		padding: 8px 15px;
		display: flex;
		gap: 6px;
		justify-content: end;

		button,
		input[type="submit"] {
			padding: 2px 4px;
			border: solid $sep-500 1px;
		}
	}
}

.contextmenu {
	position: fixed;
	pointer-events: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	scrollbar-width: none;
	z-index: 999;

	& > .inner {
		position: absolute;
		pointer-events: auto;
		padding-bottom: 8px;
	}
}

.contextmenu menu {
	background-color: $bg-300;
	border: solid 1px $sep-500;
	box-shadow: 2px 2px 8px $bg-100;
	color: $fg-400;
	overflow: hidden;
	min-width: 128px;

	& button {
		border: none;
		padding: 2px 8px;
		width: 100%;
		text-align: left;

		&:hover,
		&:focus {
			background-color: oklch(var(--color-bg1) / 0.5);
		}
	}

	& .submenu {
		padding: 0 8px;
		width: max-content;
	}

	& .subtext {
		color: $fg-500;
		font-size: 0.8rem;
		margin-top: -4px;
	}

	& hr {
		border: none;
		height: 1px;
		background-color: $bg-400;
	}
}

input[type="text"],
input[type="search"],
input[type="url"] {
	background-color: $bg-300;
	border: solid 1px $sep-500;
}

.settings {
	grid-area: main;
	background-color: $bg-200;
	color: $fg-200;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 256px 1fr;
	overflow: hidden;

	& > header {
		grid-column: span 2 / span 2;
		background-color: $bg-200;
		border-bottom: solid 1px $sep-500;
		padding: 0.5rem;
	}

	& > nav {
		background-color: $bg-150;
		padding-top: 8px;
		padding-left: 72px;
		padding-bottom: 128px;
		padding-right: 8px;

		& a,
		button {
			display: block;
			padding: 4px 8px;
			background-color: none;

			&:hover,
			&:focus {
				background-color: #fff1;

				&.active {
					background-color: #fff3;
				}
			}

			&.active {
				background-color: #fff2;
			}
		}
	}

	& > main {
		&.padded {
			padding: 0.5rem;
			padding-right: calc(100% - 60ch);
		}

		overflow-y: auto;
	}

	& button.spaced {
		margin-left: 4px;
	}

	& .danger {
		border: solid #e8374f 1px;
		padding: 2px;
		margin: 0 -2px;

		& button {
			background: #ba2f42;
			border: solid #e8374f 1px;
		}
	}
}

article.message {
	display: grid;
	grid-template-columns: 128px 1fr max-content;

	&.reply {
		/* grid-template-rows: auto auto; */
	}

	& .author {
		text-align: right;
		padding: 0 8px;

		.user {
			@include truncate;
			cursor: pointer;
			color: $fg-400;

			&:hover,
			&:focus {
				text-decoration: underline;
			}

			&.override-name {
				color: #9ca9db;
			}
		}
	}

	& .sticky {
		position: sticky;
		top: 4px;
	}

	& > .reply {
		color: $fg-500;
		font-size: 0.8rem;
		cursor: pointer;
		grid-column: 1 / span 3;
		display: grid;
		grid-template-columns: 128px 1fr;

		&:hover {
			color: $fg-400;
		}

		& > .arrow {
			display: grid;
			place-items: center;
			justify-content: end;

			& > svg {
				height: 1em;
				margin-right: 8px;
				stroke: $sep-800;
				fill: none;
			}
		}

		& > .content {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			padding-right: 4em;

			& > .user {
				color: $fg-300;
				padding-right: 4px;
			}
		}
	}

	& > .content {
		padding-right: 8px;
		display: flex;
		flex-direction: column;
		align-items: start;
		min-width: 0;

		& > .body {
			overflow: hidden;
			max-width: 100%;

			&.local {
				color: $fg-500;
			}
		}

		& .edited {
			color: $fg-500;
			font-size: 0.8rem;
			cursor: pointer;
		}
	}

	& > time {
		visibility: hidden;
		color: $fg-400;
	}

	&:hover > time {
		visibility: visible;
	}
}

.dim {
	color: $fg-500;
	font-size: 0.8rem;
}

.tooltip {
	top: 0;
	left: 0;
	display: grid;
	place-items: center;

	& > .base {
		position: absolute;
		background-color: $bg-200;
		border: solid 1px $sep-500;
		animation: popup-base 150ms cubic-bezier(0.42, 1.31, 0.52, 1.09) forwards;
		width: 100%;
		height: 100%;
	}

	& > .inner {
		padding: 8px;
		color: $fg-300;
		animation: popup-content 100ms cubic-bezier(0.33, 1.05, 0.39, 0.92)
			forwards;
		max-width: 500px;
		min-width: 100px;
		min-height: 1rem;
	}

	&.interactive {
		padding: var(--padding);
		margin: calc(-1 * var(--padding));

		& > .base {
			height: calc(100% - var(--padding) * 2);
			width: calc(100% - var(--padding) * 2);
		}
	}

	&:not(.animate) {
		& > .base {
			animation-duration: 0s;
		}

		& > .inner {
			animation-duration: 0s;
		}
	}
}

#overlay {
	position: fixed;
	z-index: 1;
}

.tooltip .user,
.user-profile .user {
	min-width: 200px;

	display: grid;
	grid-template-columns: 64px auto;
	/* grid-template-rows: 64px; */
	grid-template-rows: auto;
	/* grid-template-areas: "avatar name" "info info"; */
	grid-template-areas: "avatar info";
	gap: 8px;

	/* & > .name { */
	/* grid-area: name; */
	/* } */

	& .name {
		/* grid-area: name; */
		font-weight: bold;
	}

	& > .avatar {
		grid-area: avatar;
		height: 64px;
	}

	& > .info {
		grid-area: info;
	}

	& h3 {
		font-size: 1em;
		font-weight: bold;
	}
}

.attachments {
	display: flex;
	overflow-x: auto;
	max-width: 100%;
	margin-bottom: 8px;
	scrollbar-width: none;

	& > li:not(.raw) {
		background-color: $bg-300;
		padding: 4px;
	}

	& > li {
		min-width: 0;
	}
}

.message-input li .media {
	max-height: min(30vh, 500px);
}

summary {
	cursor: pointer;
}

.icon {
	height: 1em;
	width: 1em;
	filter: invert(0.9);
}

.room-settings-members {
	& header {
		display: flex;

		& .name {
			width: 224px;
			margin-left: 36px;
		}

		& .joined {
			width: 96px;
		}
	}

	& .edit-roles {
		position: fixed;
		top: 0;
		left: 0;
		background-color: $bg-300;
		border: solid 1px $sep-500;
		box-shadow: 2px 2px 8px $bg-100;
		min-width: 128px;
		max-width: 256px;

		& label {
			display: flex;
			gap: 2px;
			cursor: pointer;
			padding: 2px 0;

			&:hover {
				background: $bg-200;
			}

			input[type="checkbox"] {
				align-self: flex-start;
				margin: 4px;
			}

			& .has {
				font-weight: bold;
			}

			&.disabled {
				cursor: not-allowed;
				color: $fg-500;
			}
		}
	}

	& > ul > li {
		& + li {
			border-top: solid $sep-500 1px;
		}

		padding: 8px 4px;
		display: flex;

		& .profile {
			display: flex;
			gap: 8px;
			align-items: start;
			width: 256px;

			& .avatar {
				height: 32px;
				width: 32px;
				margin-top: 2px;
			}

			& .name {
				font-size: 1rem;
				/* margin-left: 2px; */
			}
		}

		& .roles {
			display: flex;
			gap: 4px;
			align-items: center;

			& button {
				padding: 0 4px;
				font-size: 0.9em;
				border: none;
				border-radius: 2px;
				background: $bg-300;

				&:hover {
					background: $bg-400;
				}
			}
		}

		& .joined {
			width: 96px;
			display: flex;
			flex-direction: column;
		}
	}
}

.room-settings-roles {
	display: flex;
	height: 100%;

	& .role-main {
		flex: 1;
	}

	& .role-main,
	.role-edit {
		padding: 0.5rem;
		overflow-y: auto;
	}

	.role-list,
	.role-edit {
		& button {
			background: $bg-200;
			border: solid $sep-500 1px;

			&:hover {
				background: $bg-300;
			}
		}
	}

	& .role-list > li {
		/* border: solid $sep-500 1px; */
		/* background: $bg-300; */
		padding: 4px;
		cursor: pointer;

		& + li {
			border-top: solid $sep-500 1px;
		}

		&:hover {
			background: $bg-300;
		}

		& .info {
			display: flex;
			gap: 4px;

			& div {
				@include truncate;
			}
		}

		& .spacer {
			flex: 1;
		}

		& .divider {
			background: $sep-500;
			width: 1px;
			margin: 0 2px;
		}

		& .name {
			font-size: 1em;
			font-weight: bold;
		}

		& .member-count {
			min-width: 8rem;
		}

		& .perm-admin {
			color: $error-500;
		}

		& .perm-mod {
			color: $warn-500;
		}

		& .perm-safe {
			color: $color-blue;
		}

		& .mentionable {
			color: $link-500;
			background: oklch(var(--color-link-300) / 0.2);
			padding: 0 2px;
			border-radius: 2px;
		}

		& .self-applicable {
			color: $color-green;
		}
	}

	& .role-edit {
		background: $bg-100;
		width: max(360px, 50%);
		overflow-y: auto;

		& .toolbar {
			float: right;
			display: flex;
			flex-direction: column;
			gap: 8px;
		}

		& h3 {
			font-size: 1em;
			font-weight: bold;
			margin-top: 8px;
		}

		& textarea,
		input[type="text"] {
			border: solid $sep-500 1px;
			background: $bg-200;
			padding: 0 2px;
		}

		& button[disabled] {
			background: $bg-300;
		}

		label {
			display: flex;
			gap: 2px;
			cursor: pointer;
			padding: 2px 0;

			&:hover {
				background: $bg-200;
			}
		}

		.description {
			color: $fg-500;
		}

		input[type="checkbox"] {
			align-self: flex-start;
			margin: 4px;
		}
	}
}

/* FIXME: text alignment with uuids */
/* uuids have ascenders (tall glyphs) but no descenders (eg. qgyj) making code containing uuids look unbalanced */
code {
	padding: 0px 2px;
}

.room-settings-audit-log {
	& > li {
		border: solid $sep-300 1px;
		border-radius: 4px;
		background: $bg-150;
		margin-top: 4px;
		overflow: hidden;

		.metadata {
			list-style: inside;
			background: $bg-100;
			padding: 4px 12px 8px;
		}

		& .info {
			display: flex;
			flex-direction: column;
			padding: 8px 12px;
			cursor: pointer;
			align-items: start;
		}

		& h3 {
			font-size: 1em;
			font-weight: bold;
		}

		& .spacer {
			flex: 1;
		}

		& button {
			background: $bg-200;
			border: solid $sep-500 1px;

			&:hover {
				background: $bg-300;
			}
		}
	}
}

.light {
	color: $fg-300;
}

.avatar {
	height: 64px;
	width: 64px;
	display: block;
	object-fit: contain;
	/* background: $bg-100; */
	border-radius: 8px;

	/* should probably add a way to crop images in browser */
	/* object-fit: cover; */
	/* image-rendering: crisp-edges; */
}

.dropdown {
	display: inline-block;
	background: $bg-300;
	border: solid $sep-500 1px;
	padding: 0 2px;
	outline: none;
	cursor: pointer;
}

.dropdown-items {
	background: $bg-300;
	border: solid $sep-500 1px;
}

.floating {
	position: fixed;
	top: 0;
	left: 0;
}

.dropdown-items > ul {
	list-style: none;
}

.dropdown-items > ul > li {
	padding: 2px 4px;
	user-select: none;

	&:hover,
	&.hovered {
		background: $bg-200;

		&.selected {
			background: $bg-100;
		}
	}

	&.selected {
		/* box-shadow: inset 2px 0 0 $link-100; */
		background: $bg-150;
	}
}

input[type="range"] {
	appearance: auto;
	accent-color: $link-500;
}

.range {
	display: grid;
	grid-template-areas: "input input" "text dim";

	& > input {
		grid-area: input;
	}

	& > .dim {
		align-self: center;
	}

	& > .value {
		text-align: right;
	}
}

pre.numbered {
	counter-reset: line;

	& > code::before {
		counter-increment: line;
		content: counter(line);
		text-align: right;
		display: inline-block;
		color: $fg-500;
		width: 2ch;
		margin-right: 1em;
		user-select: none;
	}
}

.warn {
	color: $warn-500;
}

.error {
	color: $error-500;
}

.chat > .list > li.time-split {
	display: flex;
	color: $fg-600;
	font-size: 0.9rem;
	align-items: center;
	gap: 8px;
	margin: 8px;

	& > hr {
		flex: 1;
		border-bottom: solid $sep-500 1px;
	}

	& > time {
		/* HACK: visually center text */
		margin-top: -1px;
	}
}

input[type="checkbox"] {
	appearance: checkbox;
}

button[disabled] {
	cursor: not-allowed;
}

.debug {
	padding: 16px;
	overflow: auto;

	& > details {
		border: solid $sep-500 1px;
		padding: 8px;

		& > summary {
			list-style: none;
		}
	}

	& textarea,
	input[type="text"] {
		border: solid $sep-500 1px;
		background: $bg-300;
	}
}

.embed {
	display: inline-grid;
	grid-template-columns: minmax(0, 1fr) auto;
	grid-template-rows: auto auto auto;
	grid-template-areas: "info thumb" "info thumb" "media media";
	/* width: 20em; */
	background: $bg-150;
	border: solid $sep-300 1px;
	margin-bottom: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;

	&.color {
		box-shadow: inset 4px 0 var(--color);
		padding-left: 4px;
	}

	& > .thumb {
		grid-area: thumb;
		width: 64px;
		padding: 8px;
	}

	& > .info {
		grid-area: info;
		padding: 8px;
		max-width: 320px;

		& header {
			@include truncate;
		}

		& .title {
			font-weight: bold;
		}

		& a.title {
			color: $link-400;
		}

		& .site {
			color: $fg-500;
		}

		& > .description {
			/* yeah i have no idea what the fuck the css spec is doing either */
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			margin-top: 8px;
		}
	}

	& > .media {
		grid-area: media;
		background: $bg-150;
	}
}

a:focus-visible {
	background: $link-500;
	color: $fg-100;
}

/* HACK: blockquote markdown parsing */
blockquote {
	white-space: normal;
}

blockquote {
	border-left: solid $sep-800 3px;
	margin: 2px 0;
	padding-left: 8px;
}

.status-indicator {
	height: 12px;
	aspect-ratio: 1/1;

	&[data-status="Online"] .indicator {
		fill: $status-online;
	}

	&[data-status="Offline"] .indicator {
		fill: $status-offline;
	}
}

svg.avatar {
	margin: calc(-1 * var(--pad));
}

.member-list {
	grid-area: sidebar;
	padding: 4px 0;
	width: 196px;
	background-color: $bg-150;
	overflow-y: auto;

	& > li {
		@include truncate;
	}
}

.member-list > .menu-user {
	display: flex;
	align-items: center;
	padding: 2px;
	cursor: pointer;
	/* make these buttons? */

	& > .text {
		grid-area: name;
		display: flex;
		flex-direction: column;
		padding: 2px 4px;
		flex: 1;
		overflow: hidden;

		& > .name {
			@include truncate;
			line-height: 1;
		}

		& > .status-message {
			@include truncate;
			line-height: 1;
			font-size: 0.9em;
			color: $fg-400;
		}
	}

	& > .avatar {
		height: 36px;
		width: 36px;
		padding: 4px 8px;
	}

	&:hover {
		background: #fff1;

		& > .text > .name {
			color: $fg-100;
		}
	}
}

.debug-colors > li > div {
	display: inline-block;
	height: 30px;
	width: 30px;
}

.colored {
	&.red {
		background: $color-red;
	}

	&.yellow {
		background: $color-yellow;
	}

	&.green {
		background: $color-green;
	}

	&.magenta {
		background: $color-magenta;
	}

	&.blue {
		background: $color-blue;
	}

	&.cyan {
		background: $color-cyan;
	}

	&.orange {
		background: $color-orange;
	}

	&.teal {
		background: $color-teal;
	}
}

table {
	border: solid $sep-500 1px;
	width: 100%;
	border-collapse: collapse;

	& tr {
		background: $bg-200;

		&:nth-child(even) {
			background: $bg-300;
		}
	}

	& thead tr {
		background: $bg-100;
	}

	& td,
	th {
		padding: 4px;
		text-align: left;
	}
}

.inbox > table {
	min-width: 500px;
}

.message.withavatar {
	grid-template-columns: 52px auto;
	grid-template-rows: auto 1.25em auto;
	grid-template-areas: "reply reply" "avatar author" "avatar content";

	& > .reply {
		grid-area: reply;
		grid-template-columns: 64px 1fr;

		& > .arrow > svg {
			width: 32px;
		}
	}

	& > .avatar {
		grid-area: avatar;
		padding-top: 4px;
	}

	& > .author {
		grid-area: author;
		text-align: left;
		padding: 0;

		& > time {
			margin-left: 4px;
			visibility: hidden;
			color: $fg-500;
		}
	}

	& > .content {
		grid-area: content;
	}

	&:hover {
		background-color: oklch(var(--color-bg1) / 0.3);

		& > .author > time {
			visibility: visible;
		}
	}

	& .avatar {
		height: 36px;
		width: 36px;
		margin: initial;
		margin-left: 8px;
	}

	& > .content {
		/* margin-top: -2px; */
	}

	&.notseparate {
		grid-template-rows: auto;

		& .avatar {
			display: none;
		}
	}
}

.message + .message > .withavatar.separate {
	margin-top: 8px;
	padding: 4px 0;
}

#root > header {
	grid-area: header;
	background: $bg-200;
	box-shadow: 0 2px 8px $bg-100;
	border-bottom: solid $sep-500 1px;
	padding: 8px;
	@include truncate;
}

#root > footer {
	grid-area: footer;
	background: $bg-150;
	border-top: solid $bg-300 1px;
	padding: 0 4px;
	display: flex;
	align-items: center;
	font-size: 0.9rem;
}

.webrtc {
	position: relative;
	grid-area: main;
	min-height: 0;
	overflow: hidden;

	&.controls .bottom {
		opacity: 1;
		/* translate: 0 0; */
	}

	&.controls .top {
		opacity: 1;
	}

	& .bottom:hover {
		opacity: 1;
	}

	& .top:hover {
		opacity: 1;
	}

	.top {
		position: absolute;
		top: 0;
		background: linear-gradient(to bottom, #000d 50%, transparent);
		width: 100%;
		padding: 8px;
		opacity: 0;
		text-shadow: #000000 1px 1px 3px;
		transition: all 0.2s;
	}

	.bottom {
		position: absolute;
		bottom: 0;
		background: linear-gradient(to top, black 50%, transparent);
		width: 100%;
		height: 64px;
		display: flex;
		padding: 8px;
		align-items: center;
		justify-content: center;
		/* translate: 0 100%; */
		opacity: 0;
		transition: all 0.2s;

		.controls {
			display: flex;

			button {
				background: none;
				border: none;
			}

			button .icon {
				height: 24px;
				width: 24px;
				padding: 8px;
				border-radius: 50%;
				background: $fg-300;
				overflow: hidden;
				transition: background 0.2s;

				image {
					filter: invert(0);
				}

				&:hover {
					background: $fg-100;
				}

				&[aria-checked="false"] {
					background: $bg-200;

					image {
						filter: invert(0.9);
					}

					&:hover {
						background: $bg-300;
					}
				}
			}

			.disconnect img {
				height: 40px;
				width: 40px;
				background: $color-red;
				filter: none;
			}
		}
	}

	.streams {
		background: black;
		height: 100%;
		overflow-y: auto;

		.centered {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			padding: 16px;
			padding-top: 32px;
			padding-bottom: 64px;
		}

		.list {
			display: flex;
			flex-wrap: wrap;
			align-content: center;
			justify-content: center;
			gap: 8px;
		}
	}

	.stream {
		width: 30%;
		min-width: 320px;
		aspect-ratio: 16 / 9;
		border: solid $sep-500 1px;
		background: $bg-100;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 8px;
		position: relative;

		video {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		.live {
			background: red;
			padding: 0 4px;
			position: absolute;
			top: 4px;
			right: 4px;
			border-radius: 4px;
			text-transform: uppercase;
			font-weight: bold;
			/* visibility: hidden; */
			display: none;
		}

		&:hover .live {
			/* visibility: visible; */
		}

		&.fullscreen {
			width: 100%;
		}

		&.speaking {
			border: solid $color-green 2px;
		}

		.status {
			background: #0004;
			padding: 4px;
			border-radius: 4px;
			position: absolute;
			bottom: 8px;
			left: 8px;
		}
	}

	.stream.fullscreen + .list {
		min-height: auto;
		margin-top: 8px;

		& .stream {
			width: 20%;
			min-width: 240px;
		}
	}
}

.voice-tray {
	padding: 8px;
	border-top: solid $bg-300 1px;
	background: $bg-100;
	grid-area: tray;

	.row {
		display: flex;
		align-items: center;
	}

	button {
		height: 24px;
		width: 24px;
		display: grid;
		place-items: center;
		background: none;
		border: none;
		border-radius: 4px;

		&:hover {
			background: #fff2;
		}
	}

	.status {
		height: auto;
		width: auto;
		padding: 0 2px;
		margin-left: -2px;
		margin-right: -2px;
		font-weight: bold;
		color: $color-yellow;

		&.disconnected {
			color: $fg-500;
		}

		&.connected {
			color: $color-green;
		}

		&.failed {
			color: $color-red;
		}
	}
}

.icon.strike {
	filter: none;

	image {
		filter: invert(0.9);
	}

	line {
		visibility: hidden;
		stroke: $color-red;
	}

	&[aria-checked="false"] {
		image {
			mask: url(#strike);
		}

		line {
			visibility: visible;
		}
	}
}

.box {
	background: $bg-150;
	border: solid $sep-500 1px;
	padding: 4px;
	display: inline-block;
}

.dnd-hover {
	border-top: solid #3fa9c9 3px;
	margin-top: -3px;
}

.dnd-dragging {
	color: #aaa;
}

.user-settings-info {
	.profile {
		display: grid;
		grid-template-rows: auto 1fr;
		grid-template-columns: auto 1fr;
		grid-template-areas: "avatar name" "avatar description";
		gap: 4px;

		.name {
			grid-area: name;
			font-weight: bold;
			font-size: 1.2em;
			cursor: pointer;
		}

		.description {
			grid-area: description;
		}

		.avatar {
			grid-area: avatar;
		}
	}
}

#root > .nav2 {
	width: 64px;
	display: flex;
	grid-area: nav2;
	overflow: auto;
	padding-top: 4px;
	background-color: $bg-100;

	& > ul {
		flex-direction: column;
		align-items: center;

		& > li {
			min-height: 48px;
			width: 48px;
			margin-top: 4px;
			border-radius: 4px;
			display: flex;
			overflow: hidden;
			background: #2a2a2a;

			& .avatar {
				height: 48px;
				width: 48px;
				background: none;
			}

			& a {
				padding: 0;
			}
		}
	}
}

.reactions {
	display: flex;
	gap: 4px;

	li {
		cursor: pointer;
		border: solid #445 1px;
		background: #4452;
		border-radius: 3px;
		padding: 2px 4px;
		display: flex;
		align-items: center;
		gap: 4px;
	}

	li.me {
		border: solid #44f 1px;
		background: #44f2;
	}
}

ins {
	color: $color-green;
	background: oklch(var(--color-green) / 0.1);
}

del {
	color: $color-red;
	background: oklch(var(--color-red) / 0.1);
	text-decoration: line-through;
}

.upload-item {
	background: $bg-300;
	border-radius: 4px;
	display: flex;
	overflow: hidden;
	width: 320px;
	height: 48px;

	.thumb {
		background: #8af;
		aspect-ratio: 1;
		height: 100%;
		background-size: cover;
		border: solid $bg-300 1px;
		border-right: none;
		border-radius: 4px;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
	}

	.info {
		padding: 4px;
		flex: 1;
	}

	.progress {
		height: 8px;
		width: 100%;
		background-color: $bg-400;

		.bar {
			fill: $link-500;
		}
	}
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: $bg-150;
}

::-webkit-scrollbar-thumb {
	background-color: $bg-300;
	border-radius: 4px;
	border: 2px solid transparent;
	background-clip: content-box;
}

.dnd-upload-message {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #111d;
	display: grid;
	place-items: center;
	pointer-events: none;

	.inner {
		background: $bg-200;
		border: solid $sep-500 1px;
		padding: 16px;
		border-radius: 4px;
	}
}

.auth {
	display: flex;
	flex-wrap: wrap;
	max-width: 550px;

	&.border {
		border: solid #444 1px;
	}

	.form-wrapper {
		flex: 1;
		padding: 8px;
	}

	.label-text {
		color: #aaa;
		font-size: 0.9rem;
	}

	.input {
		background: #111;
		border: solid #444 1px;
		padding: 0 2px;
	}

	.submit-btn {
		border: solid #444 1px;
	}

	.social-wrapper {
		flex: 1;
		background: #111;
	}

	.social-list {
		display: flex;
		flex-direction: column;
		padding: 4px;
		gap: 2px;
	}

	.social-item {
		display: contents;
	}

	.social-button {
		padding: 4px;
	}
}

textarea,
input[type="text"] {
	border: solid $sep-500 1px;
	background: $bg-300;
}

.user-profile {
	padding: 8px;

	button {
		border: solid $sep-500 1px;
		margin-right: 4px;
	}
}

.blocked-users-list {
	list-style: none;
	padding: 0;
	margin: 0;
	max-width: 500px;
}

.blocked-user-item {
	display: flex;
	align-items: center;
	padding: 8px;

	& + .blocked-user-item {
		border-top: 1px solid $sep-500;
	}

	.avatar {
		height: 40px;
		width: 40px;
		margin-right: 12px;
	}

	.name {
		flex-grow: 1;
	}

	button {
		margin-left: 12px;
		border: solid $sep-500 1px;
	}
}

details > summary {
	list-style-type: disclosure-closed;
	list-style-position: inside;
}

details[open] > summary {
	list-style-type: disclosure-open;
}

#nav .voice-participant {
	display: flex;
	margin-left: 16px;
	align-items: center;
	line-height: 1;
	margin-top: 4px;
	margin-bottom: 4px;

	.fallback-avatar {
		height: 1rem;
		width: 1rem;
		background: oklch(var(--color-sep));
		border-radius: 2px;
	}

	img {
		height: 1rem;
		width: 1rem;
		border-radius: 2px;
	}

	&.speaking img,
	&.speaking .fallback-avatar {
		border: solid $color-green 2px;
	}
}

.oauth-authorize {
	padding: 8px;
	display: grid;
	place-items: center;
	height: 100%;
	width: 100%;

	/* HACK: we're the only thing that should be on the page anyways */
	position: fixed;

	.error {
		color: $fg-100;
		background: oklch(var(--color-error) / 0.5);
		border: solid oklch(var(--color-error)) 1px;
		padding: 8px;
	}

	.avatar {
		width: 32px;
		height: 32px;
	}

	menu {
		display: flex;
		justify-content: end;
	}

	button {
		flex: 1;
		text-align: center;
		max-width: 120px;
	}

	.description {
		max-width: 60ch;
		margin: 4px 0;
		border: solid #444 1px;
		padding: 8px;
		border-radius: 4px;
	}

	.contents {
		white-space: pre-wrap;
		max-width: 30ch;
	}

	.info {
		background: #111;
		padding: 8px;
		margin: 4px 0;
		border-radius: 4px;

		& > ul {
			list-style: disc inside;
		}
	}
}

.copyable {
	padding: 0 2px;
	border-radius: 2px;
	cursor: pointer;

	&:hover {
		background: oklch(var(--color-fg6) / 0.2);
	}
}

button.primary {
	/* border: solid $link-200 1px; */
	background: $link-300;
	color: $fg-100;

	&:hover,
	&:focus-visible {
		background: $link-200;
	}
}

button.big {
	padding: 0.3rem 0.5rem;
	/* border-radius: 4px; */
}

.applications-header {
	display: flex;
	gap: 8px;
	margin: 8px 0 16px;

	input {
		flex: 1;
		padding: 0 8px;
	}
}

.applications-list {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 6rem;

	& > li {
		border: solid #444 1px;
		padding: 4px;
	}

	& .oauth {
		border: solid #444 1px;
		padding: 4px;
		margin: 4px;
	}

	& .sessions {
		border: solid #444 1px;
		margin: 4px;
		padding: 4px;
	}

	& .invite {
		border: solid #444 1px;
		margin: 4px;
		padding: 4px;
	}
}

.applications-savebar {
	display: flex;
	position: absolute;
	bottom: 4px;
	width: 100%;
	padding-right: calc(100% - 60ch + 4px);
}

.applications-savebar-inner {
	background: $bg-100;
	border-radius: 4px;
	display: flex;
	flex: 1;
	padding: 0.25rem;
	padding-left: 0.5rem;
	gap: 0.25rem;
	align-items: center;
	border-radius: 4px;

	& .warning {
		flex: 1;
	}

	& .save {
		background: $color-green;
		color: $bg-300;
	}

	& button {
		padding: 4px 8px;
		border-radius: 4px;
	}
}

.applications-settings {
	padding-right: calc(100% - 60ch);
	padding-left: 0.25rem;
	padding-top: 0.25rem;
}

.invites .invite {
	display: flex;
	align-items: center;
	border-radius: 4px;
	padding: 4px 2px;

	&:hover {
		background: $bg-300;
	}

	.code {
		width: 8rem;

		code {
			background: none;
		}
	}

	.creator {
		display: flex;
		align-items: center;
		gap: 8px;
		width: 12rem;
		overflow: hidden;

		.info {
			flex: 1;
		}

		.name {
			@include truncate;
		}

		time {
			@include truncate;
		}

		.avatar {
			height: 36px;
			width: 36px;
		}
	}

	.uses {
		width: 4rem;
	}

	.expires {
		width: 6rem;
	}

	.dim {
		font-size: 1rem;
	}

	.mono {
		font-family: var(--font-mono);
	}

	button {
		border: solid $sep-500 1px;
	}
}

.invites header {
	display: flex;

	.code {
		width: 8rem;
		padding: 0 4px;
	}

	.creator {
		width: 12rem;
	}

	.uses {
		width: 4rem;
	}

	div {
		font-weight: bold;
		font-size: 0.9rem;
		color: $fg-500;
	}
}

.invite-app {
	position: fixed;
	top: 0;
	left: 0;
	background-color: $bg-300;
	border: solid 1px $sep-500;
	box-shadow: 2px 2px 8px $bg-100;
	min-width: 128px;
	max-width: 256px;

	display: flex;
	flex-direction: column;

	button {
		border: none;
	}
}
