@use "./theme.scss";
@use "./util.scss" as *;

.member-list {
	padding: 4px 0;
	width: 100%;
	height: 100%;
	flex: 1;
	min-height: 0;
	background-color: $bg-150;
	overflow-y: auto;
	overflow-x: hidden;

	& .member-group {
		@extend .dim !optional;
		margin-top: 4px;
		margin-left: 8px;
		cursor: pointer;
		height: 24px;
		display: flex;
		align-items: center;
		background: none;
		border: none;
		width: 100%;
		text-align: left;
		padding: 0;
	}

	& .menu-user {
		display: block;
		cursor: pointer;
		height: 44px;
		width: 100%;
		padding-inline: 4px;

		& > .inner {
			display: flex;
			align-items: center;
			height: 100%;
			width: 100%;
			padding: 2px;
			border-radius: 4px;

			& > .text {
				display: flex;
				flex-direction: column;
				padding: 2px 4px;
				flex: 1;
				overflow: hidden;
				gap: 2px;
				line-height: 1;

				& > .name {
					@include truncate;
					color: $fg-600;
				}

				& > .status-message {
					@include truncate;
					font-size: 0.75em;
					color: oklch(from $fg-600 calc(l - .1) c h);
				}
			}

			& > .avatar {
				height: 36px;
				width: 36px;
				padding: 4px 8px;
				box-sizing: content-box;
			}
		}

		&.offline > .inner {
			& > .text > .name {
				color: oklch(from $fg-600 calc(l - .2) c h);
			}

			& > .avatar {
				filter: brightness(0.5);
			}
		}

		&.active > .inner,
		&:hover > .inner {
			background: #fff1;

			& > .text > .name {
				color: $fg-100;
			}

			& > .text > .status-message {
				color: $fg-300;
			}

			& > .avatar {
				filter: brightness(1);
			}
		}
	}

	&.skeleton {
		padding-bottom: 240px;

		.avatar {
			height: 36px;
			width: 36px;
			margin: -8px;
			display: grid;
			place-items: center;

			& .inner.ghost {
				height: 32px;
				width: 32px;
			}
		}
	}
}
