@use "./util.scss" as *;

@media (max-width: 768px) {
	#root.precedence-hack {
		width: 100vw;
		overflow-x: auto;
		overflow-y: hidden;
		scroll-snap-type: x mandatory;
		overscroll-behavior-x: none;

		grid-template-columns: 100vw 100vw 100vw;
		grid-template-areas:
			"nav-tray header  header"
			"nav-tray main    sidebar"
			"nav-tray main    sidebar"
			"nav-tray footer  footer";

		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}

		/* Turn every main panel component into a snap point */
		& > * {
			scroll-snap-align: start;
			scroll-snap-stop: always;
		}

		/* Exclude secondary components from serving as a snap point to prevent scrolling layout breaks */
		& > footer,
		& > .user-tray {
			scroll-snap-align: none;
		}

		// make sidebars full width
		.resizable-sidebar {
			width: 100%;
		}

		// make room nav a little bigger
		#room-nav {
			width: 72px;

			.room-item,
			.home-item {
				min-height: 52px;
				width: 52px;
				margin-top: 6px;
			}
		}
	}

	/* Disable the resize handle on mobile */
	.resizable-sidebar .resize-handle {
		display: none;
	}

	.chat-header {
		& > .left,
		& > .right {
			flex: 1;
			max-width: 100vw;
		}
	}
}
