@use "./util.scss" as *;

#channel-nav {
	width: 100%;
	height: 100%;
	background-color: $bg-150;
	color: $fg-200;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	scrollbar-width: none;
	grid-area: channel-nav;

	& > header {
		z-index: 1;
		min-height: 48px;
	}

	& > ul {
		padding-top: 8px;
		padding-bottom: 240px;
		display: flex;
		flex-direction: column;
	}

	& li.toplevel {
		border: solid transparent 1px;
		margin-top: -1px;
		margin-bottom: -1px;
		position: relative;

		&.channel-reorder-target {
			background: oklch(var(--color-link-500) / 0.2);
			border: solid $link-500 1px;
		}

		&.voice-channel-target {
			background: oklch(var(--color-green) / 0.2);
			border: solid $color-green 1px;
		}

		&.drop-before::before {
			content: "";
			position: absolute;
			top: -2px;
			left: 0;
			width: 100%;
			height: 4px;
			background: $link-500;
			z-index: 10;
			border-radius: 2px;
			pointer-events: none;
		}

		&.drop-after::after {
			content: "";
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 100%;
			height: 4px;
			background: $link-500;
			z-index: 10;
			border-radius: 2px;
			pointer-events: none;
		}
	}

	& a {
		@include truncate;
		display: block;
		width: 100%;
		padding: 2px 8px;
		background-color: none;
		text-decoration: none;
		white-space: nowrap;
		color: $fg-400;

		&.active {
			background-color: $bg-300;
		}

		&:hover,
		&:focus {
			background-color: $bg-400;
		}

		&.closed {
			color: $sep-500;
		}
	}

	& header {
		/* TODO: make this its own root grid section */
		position: sticky;
		top: 0;
		background: $bg-100;
		padding: 8px 16px;
		border-bottom: solid $sep-300 1px;
	}

	li {
		padding: 0 8px;

		&.dragging {
			opacity: 0.5;
		}

		&.unread > a {
			font-weight: bold;
			color: $fg-200;
			position: relative;

			&::before {
				--size: 8px;
				position: absolute;
				top: 50%;
				left: calc(var(--size) / -2);
				content: "";
				translate: 0 -50%;
				border-radius: 50%;
				background: $bg-400;
				height: var(--size);
				width: var(--size);
			}
		}

		.menu-thread {
			display: flex;
			align-items: center;
			gap: 8px;

			.avatar {
				height: 24px;
				width: 24px;
			}
		}

		.threads {
			margin-left: -8px;

			& > li > a {
				padding-left: 32px;
			}
		}
	}

	.category {
		cursor: pointer;
		position: relative;

		&.drop-before::before {
			content: "";
			position: absolute;
			top: -2px;
			left: 0;
			width: 100%;
			height: 4px;
			background: $link-500;
			z-index: 10;
			border-radius: 2px;
			pointer-events: none;
		}

		&.drop-after::after {
			content: "";
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 100%;
			height: 4px;
			background: $link-500;
			z-index: 10;
			border-radius: 2px;
			pointer-events: none;
		}

		&.drop-inside {
			background: oklch(var(--color-link-500) / 0.2);
			border: solid $link-500 1px;
		}
	}

	.category-toggle {
		margin-right: 4px;
	}

	.voice-participant {
		display: flex;
		margin-left: 24px;
		align-items: center;
		line-height: 1;
		margin-top: 4px;
		margin-bottom: 4px;
		gap: 8px;
		padding: 2px 0 2px 8px;
		cursor: pointer;
		border-radius: 2px;

		.avatar {
			height: 20px;
			width: 20px;
		}

		.fallback-avatar {
			height: 1rem;
			width: 1rem;
			background: oklch(var(--color-sep));
			border-radius: 2px;
		}

		img {
			height: 1rem;
			width: 1rem;
			border-radius: 2px;
		}

		&.speaking img,
		&.speaking .fallback-avatar {
			border: solid $color-green 2px;
		}

		&:hover {
			background-color: $bg-400;
		}
	}

	.nav-channel {
		display: flex;
		align-items: center;
		padding: 4px 8px;

		& > .avatar {
			height: 32px;
			width: 32px;
			margin: 0;
			margin-right: 8px;
		}

		& > .icon {
			height: 16px;
			width: 16px;
			min-width: 16px;
			margin-right: 4px;
			filter: invert(0.6);
		}

		& > .mentions {
			background: oklch(54.03% 0.1759 13.16);
			height: 16px;
			min-width: 16px;
			border-radius: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: bold;
			padding: 0 4px;
		}

		& > button {
			display: none;
			border: none;
			background: none;
			padding: 4px;
			margin: -4px 0;
			margin-right: -4px;
			align-items: center;

			& > .icon {
				height: 14px;
				width: 14px;
				filter: invert(0.7);
			}

			&:hover > .icon {
				filter: invert(0.9);
			}
		}

		&:hover > button {
			display: flex;
		}

		&:hover > .mentions {
			display: none;
		}
	}

	& a.muted {
		color: $fg-500;
		opacity: 0.6;
	}

	.threads > li {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			left: 22px;
			top: 0;
			width: 8px;
			height: 12px;
			border-bottom: 2px solid $sep-400;
			border-left: 2px solid $sep-400;
			border-bottom-left-radius: 4px;
		}

		&:not(:first-child)::after {
			content: "";
			position: absolute;
			left: 22px;
			top: -16px;
			height: 24px;
			border-left: 2px solid $sep-400;
		}
	}
}

#room-nav {
	width: 64px;
	display: flex;
	justify-content: center;
	grid-area: room-nav;
	overflow: auto;
	padding-top: 4px;
	background-color: $bg-100;

	& > ul {
		flex-direction: column;
		align-items: center;
	}

	.room-item,
	.home-item {
		min-height: 48px;
		width: 48px;
		margin-top: 4px;
		border-radius: 4px;
		display: flex;
		overflow: hidden;
		position: relative;
		transition: border 0.1s ease;

		&.drag-over {
			border-top: solid $link-500 4px;
		}

		&.drag-over-after {
			border-bottom: solid $link-500 4px;
		}

		&.folder-preview {
			background: oklch(var(--color-link-500) / 0.2);
			border: solid $link-500 2px;
		}

		&.unread::before {
			content: "";
			position: absolute;
			left: -4px;
			top: 50%;
			translate: 0 -50%;
			height: 8px;
			width: 8px;
			background-color: $fg-100;
			border-radius: 50%;
			z-index: 1;
		}

		&.home-item, &.no-icon {
			background: #2a2a2a;
		}

		&.dragging {
			opacity: 0.5;
		}

		& .avatar {
			height: 48px;
			width: 48px;
			background: none;
		}

		& a {
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
		}
	}

	.home-item .icon, .folder-header .icon {
		height: 32px;
		width: 32px;
		filter: invert(0.8);
	}

	.home-item {
		background: $bg-200;
	}

	.folder-header {
		height: 48px;
		width: 48px;
		border-radius: 4px;
		background: #2a2a2a;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;

		&:hover {
			background: $bg-150;
		}
	}

	.room-folder {
		margin: 0 -2px;
		margin-top: 4px;
		padding: 2px;
		background: $bg-400;
		border-radius: 4px;
		position: relative;
		transition: background 0.1s ease, border 0.1s ease;

		&.drag-over {
			border-top: solid $link-500 4px;
		}

		&.drag-over-after {
			border-bottom: solid $link-500 4px;
		}

		&.drag-over-inside {
			background: oklch(var(--color-link-500) / 0.2);
			outline: solid $link-500 2px;
		}

		&.preview {
			background: oklch(var(--color-link-500) / 0.2);
			outline: solid $link-500 2px;
		}

		&.unread.collapsed::before {
			content: "";
			position: absolute;
			left: -4px;
			top: 24px;
			translate: 0 -50%;
			height: 8px;
			width: 8px;
			background-color: $fg-100;
			border-radius: 50%;
			z-index: 1;
		}

		&.collapsed {
			background: none;
		}
	}

	.mention-count {
		fill: oklch(54.03% 0.1759 13.16);
	}

	.drop-target-end {
		width: 100%;
		transition: background 0.1s ease;

		&.drag-over {
			background: oklch(var(--color-link-500) / 0.1);
			border-top: solid $link-500 2px;
		}
	}
}
