@use "./util.scss" as *;

.scripts {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background-color: $bg-200;
	overflow: hidden;
}

.pane-container {
	display: flex;
	flex-direction: column;
	min-width: 0;
	min-height: 0;
}

.pane-resize-handle {
	position: relative;
	z-index: 10;
	transition: background-color 0.2s;

	&.horizontal {
		width: 4px;
		margin: 0 -2px;
		cursor: col-resize;
		border-right: solid $sep-300 1px;
	}

	&.vertical {
		height: 4px;
		margin: -2px 0;
		cursor: row-resize;
		border-top: solid $sep-300 1px;
	}

	&:hover,
	&:active {
		background-color: $link-500;
	}
}

.split-horizontal {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;

	& > .pane-container + .pane-container {
		border-left: 1px solid $sep-500;
	}
}

.split-vertical {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;

	& > .pane-container + .pane-container {
		border-top: 1px solid $sep-500;
	}
}

.script-pane {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	overflow: hidden;

	header {
		display: flex;
		align-items: center;
		padding: 4px 8px;
		background-color: $bg-150;
		border-bottom: 1px solid $sep-300;
		gap: 8px;
		height: 32px;

		nav {
			font-size: 0.8rem;
			color: $fg-400;
		}

		.title {
			font-weight: bold;
			flex: 1;
			font-size: 0.9rem;
		}

		.pane-header-save {
			border-radius: 3px;
			font-size: 0.75rem;
		}

		button.close {
			color: $fg-500;
			cursor: pointer;
			padding: 0 4px;
			font-size: 1.2rem;
			line-height: 1;

			&:hover {
				color: $fg-100;
			}
		}
	}

	.pane-content {
		flex: 1;
		position: relative;
		overflow: auto;
	}
}

.script-list {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 16px;
	gap: 16px;
	overflow-y: auto;

	header {
		input {
			width: 100%;
			padding: 4px 8px;
			background-color: $bg-150;
			border: solid $sep-300 1px;
			border-radius: 2px;

			&:focus {
				border-color: $link-500;
			}
		}
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 8px;

		li {
			button {
				width: 100%;
				padding: 8px;
				background-color: $bg-300;
				border: 1px solid $sep-400;
				border-radius: 2px;
				cursor: pointer;
				display: flex;
				flex-direction: column;
				gap: 4px;

				&:hover {
					background-color: $bg-200;
				}

				.name {
					font-weight: bold;
					color: $fg-300;
				}

				.description {
					font-size: 0.85rem;
					color: $fg-200;
				}
			}
		}
	}
}

.script-inputs {
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;

	section {
		display: flex;
		flex-direction: column;
		gap: 4px;

		h3 {
			font-size: 0.75rem;
			color: $fg-500;
			font-weight: bold;
		}
	}

	.input-list {
		display: flex;
		flex-direction: column;
		gap: 8px;

		.script-input {
			display: flex;

			&[data-input-type="Manual"] {
				color: $color-blue;
			}
		}

		.script-input > .inner {
			flex: 1;
			padding: 4px 8px;
			background-color: $bg-300;
			border: 1px solid $sep-500;
			cursor: pointer;

			&:hover {
				background-color: $bg-100;
			}
		}
	}

	.run-list {
		display: flex;
		flex-direction: column;
		gap: 8px;

		li {
			display: flex;
			align-items: center;
			padding: 4px 8px;
			background-color: $bg-150;
			border: 1px solid $sep-400;
			border-radius: 4px;

			.run-item {
				.run-info {
					display: flex;
					gap: 8px;
					align-items: start;

					.status {
						font-size: 0.65rem;
						padding: 2px 4px;
						border-radius: 4px;
						color: $bg-100;
						background-color: $bg-400;
						text-transform: uppercase;
						font-weight: bold;

						&[data-status="Active"] {
							color: $color-blue;
						}

						&[data-status="Exited"] {
							color: $color-green;
						}

						&[data-status="Crashed"] {
							color: $color-red;
						}

						&[data-status="Borked"] {
							color: $color-orange;
						}

						&[data-status="Creating"] {
							color: $color-teal;
						}
					}

					time {
						color: $fg-400;
						font-size: 0.85rem;
					}
				}

				& > menu {
					font-size: 0.8rem;
					color: $fg-400;
					font-weight: bold;
					cursor: pointer;

					& button:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.run-logs {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 8px;

	& > .top {
		display: flex;
		align-items: center;
		gap: 8px;
		margin: 4px 8px;

		.status {
			font-size: 0.65rem;
			padding: 2px 6px;
			border-radius: 4px;
			color: $bg-100;
			background-color: $bg-400;
			text-transform: uppercase;
			font-weight: bold;

			&[data-status="Active"] {
				color: $color-blue;
			}

			&[data-status="Exited"] {
				color: $color-green;
			}

			&[data-status="Crashed"] {
				color: $color-red;
			}

			&[data-status="Borked"] {
				color: $color-orange;
			}

			&[data-status="Creating"] {
				color: $color-teal;
			}
		}

		button {
			font-size: 0.8rem;
			padding: 2px 8px;
			cursor: pointer;
			background-color: $bg-300;
			border: 1px solid $sep-400;
			border-radius: 2px;
			color: $fg-300;

			&:hover {
				background-color: $bg-200;
			}
		}
	}

	& > .log-filters {
		display: flex;
		gap: 4px;
		margin: 2px 8px;
		flex-wrap: wrap;

		button {
			font-size: 0.75rem;
			padding: 2px 8px;
			cursor: pointer;
			background-color: $bg-300;
			border: 1px solid $sep-400;
			border-radius: 2px;
			color: $fg-400;

			&:hover {
				background-color: $bg-200;
				color: $fg-300;
			}

			&[aria-pressed="true"],
			&:active {
				background-color: $bg-400;
				color: $fg-200;
			}
		}
	}

	ul[role="log"] {
		flex: 1;
		overflow-y: auto;
		// FIXME: make this scrollable

		li {
			display: flex;
			align-items: baseline;
			padding: 4px 8px;
			font-family: monospace;
			font-size: 0.8rem;
			line-height: 1.4;

			&:hover {
				background-color: $bg-150;
			}

			& .main {
				display: flex;
				gap: 4px;
				width: 100%;
			}

			&.expanded {
				background-color: $bg-150;
				flex-direction: column;
			}

			.time {
				color: $fg-500;
				flex-shrink: 0;
			}

			.level {
				font-size: 0.7rem;
				padding: 1px 4px;
				border-radius: 3px;
				font-weight: bold;
				text-transform: uppercase;
				flex-shrink: 0;

				&[data-level="Trace"] {
					color: $fg-500;
					background-color: $bg-300;
				}

				&[data-level="Debug"] {
					color: $color-teal;
					background-color: oklch(calc(var(--color-teal) * 0.15) / 0.3);
				}

				&[data-level="Info"] {
					color: $color-blue;
					background-color: oklch(calc(var(--color-blue) * 0.15) / 0.3);
				}

				&[data-level="Warning"] {
					color: $color-orange;
					background-color: oklch(calc(var(--color-orange) * 0.15) / 0.3);
				}

				&[data-level="Error"] {
					color: $color-red;
					background-color: oklch(calc(var(--color-red) * 0.15) / 0.3);
				}
			}

			.content {
				color: $fg-200;
				white-space: pre;
				overflow: hidden;
				text-overflow: ellipsis;
				flex-shrink: 0;
			}

			.attrs-summary {
				color: $fg-500;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				flex-shrink: 1;
			}

			.attrs {
				display: none;
				flex-direction: column;
				padding-left: 2em;
				font-size: 0.75rem;

				&.expanded {
					display: flex;
				}

				.key {
					color: $fg-400;
				}

				.syn {
					color: $fg-600;
					margin: 0 2px;
				}

				.val {
					color: $fg-300;
				}
			}
		}
	}
}

.script-code-container {
	display: flex;
	flex-direction: column;
	height: 100%;

	.editor-wrapper {
		flex: 1;
		overflow: auto;
		min-height: 0;
	}
}
