/* colors and fonts used everywhere */

@use "./util.scss" as *;

:root {
	--font-default:
		"Atkinson Hyperlegible", Inter, system-ui, Avenir, Helvetica, Arial,
		sans-serif;
	--font-mono: "Iosevka Zesty", "Courier New", Courier, monospace;
	--color-fg1: 100% 0 0;
	--color-fg2: 94.9% 0 0;
	--color-fg3: 89.8% 0 0;
	--color-fg4: 84.5% 0 0;
	--color-fg5: 73.8% 0 0;
	--color-fg6: 69.4% 0 0;
	--color-bg1: 17% 0.008 229.4;
	--color-bg2: 22.3% 0.01 234.2;
	--color-bg3: 27.5% 0.011 225.5;
	--color-bg4: 34% 0.014 217.8;
	--color-sep: 37.3% 0.016 208.8;
	--color-link: 71.6% 0.15 299.2;
	--color-warn: 85.94% 0.1563 89.66;
	--color-error: 60.2% 0.1976 20.66;
}
