@use "./util.scss" as *;
@use "./animation.scss" as *;

#root > .chat {
	grid-area: main;
}

.chat {
	background-color: $bg-200;
	color: $fg-200;
	contain: strict;
	scrollbar-color: $bg-300 $bg-150;
	scrollbar-gutter: stable;

	& li {
		list-style: none;
	}
}

// TODO: merge into .message.skeleton
.skeleton-message {
	pointer-events: none;
	display: grid;

	& .skeleton-avatar,
	& .skeleton-name,
	& .skeleton-time,
	& .skeleton-time-compact,
	& .skeleton-line,
	& .skeleton-attachment {
		background: linear-gradient(
			90deg,
			$bg-400 0%,
			oklch(var(--color-bg4) / 0.85) 50%,
			$bg-400 100%
		);
		background-size: 200% 100%;
		animation: skeleton-loading 1s infinite linear;
		border-radius: 4px;
	}

	& .skeleton-avatar {
		height: 64px;
		width: 64px;
	}

	& .skeleton-name {
		height: 14px;
		width: 120px;
		display: inline-block;
	}

	& .skeleton-time {
		height: 10px;
		width: 60px;
		margin-left: 4px;
		display: inline-block;
	}

	& .skeleton-time-compact {
		height: 10px;
		width: 60px;
		position: absolute;
		right: 8px;
		top: 8px;
	}

	& .skeleton-line {
		height: 12px;
		margin-right: 4px;
		margin-top: 2px;
		display: inline-block;

		&:last-child {
			width: 70%;
		}
	}

	& .skeleton-attachment {
		margin-top: 4px;
		height: 200px;
		width: 300px;
		border-radius: 4px;
	}

	// compact mode
	&:not(.withavatar) {
		grid-template-columns: 128px 1fr max-content;

		& > .author-wrap {
			text-align: right;
			margin-right: 8px;

			& > .author {
				position: sticky;
				top: 4px;
			}
		}
	}
}

// TODO: merge into .message.skeleton
.skeleton-message-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;

	& > .message {
		padding: 4px 8px;

		&:hover {
			background-color: transparent;
		}
	}
}

// TODO: redo
.message-dim-content > .content {
	color: $fg-500;
}

.message-toolbar {
	background: $bg-150;
	display: flex;
	border: solid $sep-400 1px;
	box-shadow: 0 2px 8px $bg-100;
	border-radius: 4px;
	overflow: hidden;

	& > button.button {
		display: grid;
		place-items: center;
		height: 24px;
		width: 24px;
		border: none;
	}
}

.message-thread {
	margin-top: 2px;
	position: relative;
	display: flex;
	gap: 4px;

	& > .main {
		border: solid $sep-300 1px;
		border-radius: 4px;
		padding: 4px 6px;
		margin-top: 2px;
		background: $bg-150;
		cursor: pointer;

		& .name {
			color: $link-500;
		}

		&:hover {
			background: $bg-200;
		}

		&:hover .name {
			text-decoration: underline;
		}

		.top {
			display: flex;
			gap: 4px;
		}

		.count {
			color: $fg-500;
		}
	}
}

.timeline {
	overflow-y: auto;
	overflow-anchor: none;
	width: 100%;
	height: 100%;

	& > .timeline-items {
		width: 100%;
		position: relative;

		& > .timeline-item {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;

			& > .spacer.mini {
				min-height: 3.5rem;

				/* &.has-typing .spacer.mini { */
				/* min-height: 4.5rem; */
				/* } */
			}
		}
	}
}

.timeline-item {
	overflow-anchor: none;

	&:hover > .message {
		background-color: oklch(var(--color-bg1) / 0.3);
	}

	&.selected > .message {
		box-shadow: 4px 0 0 -1px inset #67dc82;
		background-color: #67dc8222;
	}

	&.reply-target {
		background-color: oklch(var(--color-blue) / 0.3);
		box-shadow: 4px 0 0 -1px inset oklch(var(--color-blue));
	}

	&.context > .message {
		box-shadow: 4px 0 0 -1px inset oklch(var(--color-highlight));
		background-color: oklch(var(--color-highlight) / 0.15);
	}

	&.mentioned > .message {
		box-shadow: 4px 0 0 -1px inset $link-500;
		background-color: oklch(var(--color-link-500) / 0.1);
	}
}

.timeline-header {
	padding: 0 8px;
	margin-top: 32px;
	margin-bottom: 16px;
	/* box-shadow: 0 2px 8px $bg-150; */ // NOTE: this was used with the old sticky header system
}

.timeline-divider {
	display: flex;
	color: $fg-600;
	font-size: 0.9rem;
	align-items: center;
	margin: 8px;
	position: relative;

	& > hr {
		flex: 1;
		border-bottom: solid $sep-500 1px;
		margin: 0 8px;
	}

	/* visually center text */
	& > time {
		margin-top: -1px;
	}

	& > .new {
		margin-top: -3px;

		&.hidden {
			/* HACK: this hidden div with hacky styles exists to center the date text */
			margin-top: 0;
			margin-left: -8px;
			padding-left: 8px;
			height: 0;
			color: transparent;
			border-bottom: solid #3fa9c9 1px;
		}
	}

	&.unread {
		color: #3fa9c9;

		& > hr {
			border-bottom: solid #3fa9c9 1px;
		}
	}
}

.message {
	display: grid;
	grid-template-columns: 52px auto;
	grid-template-rows: auto auto auto auto;
	grid-template-areas:
		"reply reply" "aside header" "aside content" "aside accessories";
	contain: content;

	& .user {
		cursor: pointer;
		color: $fg-400;
		/* color: $fg-300; */
		/* @include truncate; */

		&:hover,
		&:focus {
			text-decoration: underline;
		}

		// TODO: remove?
		// &.override-name {
		//   color: #9ca9db;
		// }
	}

	& .time {
		color: $fg-500;
		font-size: 0.7em;
	}
}

.message > .reply {
	grid-area: reply;
	display: flex;
	height: 1em;
	align-items: center;
	margin-bottom: 4px;

	& > .spine {
		width: 24px;
		height: 50%;
		align-self: end;
		margin-left: 24px;
		margin-right: 8px;
		border-top-left-radius: 4px;
		border-top: solid $sep-800 2px;
		border-left: solid $sep-800 2px;
	}

	& > .avatar {
		height: 16px;
		width: 16px;
		margin-right: 4px;
		border-radius: 6px;
		filter: brightness(0.8);
	}

	& > .content {
		padding-right: 4em;
		font-size: 0.9em;
		@include truncate;

		& > .author {
			padding-right: 4px;
			color: $fg-600;
		}

		& > .markdown {
			display: inline;
			color: $fg-400;
		}
	}
}

.message > .aside {
	grid-area: aside;
	display: flex;
	flex-direction: column;
	padding-top: 4px;

	& > .avatar {
		display: none;
		cursor: pointer;
		height: 36px;
		width: 36px;
		margin-left: 8px;
	}

	& > .time {
		visibility: hidden;
		align-self: center;
		@include truncate;
	}

	& > .thread-spine {
		flex: 1;
		margin-left: 24px;
		margin-right: 4px;
		margin-top: 8px;
		margin-bottom: 24px;
		border-bottom: solid $sep-500 2px;
		border-left: solid $sep-500 2px;
		border-bottom-left-radius: 4px;
	}
}

.message > .content {
	grid-area: content;
	display: flex;
	flex-direction: column;
	align-items: start;
	padding-right: 8px;

	& > .header {
		display: none;
		font-size: 1em;
		height: 1.25em;
		align-items: end;

		& > .flume-spinner {
			display: grid;
			place-items: center;
			margin-right: 3px;
			translate: 0 1px;

			& > .icon2 {
				animation: spin infinite 1.5s linear;
				height: 16px;
				width: 16px;
			}
		}

		& > .time {
			margin-left: 4px;
			margin-bottom: 2px;

			&.full {
				display: none;
			}
		}
	}

	& > .body {
		overflow: hidden;
		max-width: 60ch;

		// TODO: more specific selector
		& .edited {
			color: $fg-500;
			font-size: 0.8rem;
			cursor: pointer;
		}
	}
}

.message > .accessories {
	grid-area: accessories;
	display: flex;
	flex-direction: column;
	align-items: start;
	padding-right: 8px;
	max-width: 60ch;
}

/* TODO: add .local class to messages */
.message.local > .inner > .content > .body {
	color: $fg-500;
}

.message:hover {
	background-color: oklch(var(--color-bg1) / 0.3);

	& > .aside > .time {
		visibility: visible;
	}

	& > .content > .header {
		& > .time.onlytime {
			display: none;
		}
		& > .time.full {
			display: block;
		}
	}
}

.message.oneline {
	& > .aside {
		padding-top: 0;
	}

	& > .aside > .icon {
		filter: invert(0.7);
		margin-left: 28px;
		margin-top: 2px;
	}

	& > .aside > .icon2 {
		background: $fg-300;
		margin-left: 28px;
		margin-top: 2px;
	}

	& > .content {
		flex-direction: row;
		align-items: end;
		white-space: nowrap;

		& > .time {
			margin-left: 4px;
			margin-bottom: 2px;
		}

		& > .time.full {
			display: none;
		}
	}

	&:hover > .content {
		& > .time.onlytime {
			display: none;
		}

		& > .time.full {
			display: block;
		}
	}
}

#root[data-message-style="cozy"] .message {
	&.separate {
		margin-top: 8px;
		padding: 4px 0;

		& > .aside {
			& > .avatar {
				display: block;
			}

			& > .time {
				display: none;
			}
		}

		& > .content > .header {
			display: flex;
		}
	}
}

#root[data-message-style="compact"] .message:not(.oneline) {
	& > .reply {
		margin-left: 32px;
		margin-bottom: 0;
	}

	& > .content {
		display: inline;
		text-indent: -2em;
		margin-left: 2em;

		& > .header {
			display: inline;
			margin-right: 4px;

			& > .time {
				display: none;
			}
		}

		& > .body {
			display: inline;

			// HACK: make the first markdown paragraph also display inline
			& > p:first-child {
				display: inline;
			}
		}
	}

	&.separate > .aside > .time {
		visibility: visible;
	}
}

.message.skeleton {
	// TODO: copy .skeleton-message styles here
	pointer-events: none;

	& > .text {
		background: linear-gradient(
			90deg,
			$bg-400 0%,
			oklch(var(--color-bg4) / 0.85) 50%,
			$bg-400 100%
		);
		background-size: 200% 100%;
		animation: skeleton-loading 1s infinite linear;
		border-radius: 4px;
		display: inline-block;
	}
}
