@use "./util.scss" as *;

.user-settings-info {
	.profile {
		display: grid;
		grid-template-rows: auto 1fr;
		grid-template-columns: auto 1fr;
		grid-template-areas: "avatar name" "avatar description";
		gap: 4px;

		.name {
			grid-area: name;
			font-weight: bold;
			font-size: 1.2em;
			cursor: pointer;
		}

		.description {
			grid-area: description;
		}

		.avatar {
			grid-area: avatar;
		}
	}
}

.user-settings-auth {
	h3 {
		font-size: 1.2em;
	}

	.email-list {
		border: solid $sep-300 1px;
		background: $bg-150;

		& > .email {
			display: flex;
			padding: 4px 8px;

			&:hover {
				background: #0004;
			}

			& > menu {
				display: flex;
				gap: 8px;
			}
		}
	}

	.email-add {
		padding: 8px;
		display: flex;
		justify-content: end;
	}

	.oauth {
		border: solid $sep-300 1px;
		background: $bg-150;

		.provider {
			display: flex;
			padding: 4px 8px;
			align-items: center;

			&:hover {
				background: #0004;
			}
		}
	}
}

.user-settings-lang {
	.langs {
		display: flex;
		flex-direction: column;
		gap: 4px;

		.lang {
			display: flex;
			align-items: center;
			gap: 4px;
			padding: 4px;
			background: $bg-150;
			border: solid $sep-300 1px;

			&:hover {
				background: $bg-100;
			}
		}
	}
}

.user-settings-keybinds {
	h3 {
		color: $fg-500;
		font-size: 1em;
		font-weight: bold;
		margin-top: 1em;
		margin-bottom: 4px;
	}

	ul {
		border: solid $sep-500 1px;
		background: $bg-300;
	}

	li {
		display: flex;
		justify-content: space-between;
		margin: 0 8px;
		padding: 8px 0;

		& + li {
			border-top: solid $sep-400 1px;
		}
	}
}

.user-settings-notifications {
	input[type="checkbox"] {
		display: none;
	}

	.options {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	.option {
		display: flex;
		align-items: center;
		gap: 4px;
		padding: 4px;
		cursor: pointer;

		&:hover {
			background: $bg-150;
		}
	}

	.permission {
		background: oklch(var(--color-yellow) / 0.2);
		border: solid $color-yellow 1px;
		padding: 8px;
		margin: 8px;
		border-radius: 4px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.dropdowns > .option {
		justify-content: space-between;
		cursor: default;

		&:hover {
			background: none;
		}
	}
}

.user-settings-connections {
	.connection {
		background: $bg-150;
		border: solid $sep-300 1px;

		& > header {
			display: flex;
			background: $bg-100;
			padding: 8px;
			gap: 8px;
			align-items: center;

			& > .name {
				flex: 1;
				font-weight: bold;
			}
		}

		& > .info {
			padding: 8px;
			display: flex;
			flex-direction: column;
			gap: 12px;
		}
	}

	ul {
		list-style: disc inside;
	}
}

.user-settings-appearance {
	input[type="checkbox"] {
		display: none;
	}

	.options {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	.option {
		display: flex;
		align-items: center;
		gap: 4px;
		padding: 4px;
		cursor: pointer;

		&:hover {
			background: $bg-150;
		}
	}

	h3 {
		margin-top: 16px;
		margin-left: 4px;
	}

	.apart {
		justify-content: space-between;
	}
}

.user-settings-chat {
	.options {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	.option {
		display: flex;
		align-items: center;
		gap: 4px;
		padding: 4px;
		cursor: pointer;

		&:hover {
			background: $bg-150;
		}
	}

	h3 {
		margin-top: 16px;
		margin-left: 4px;
	}

	.apart {
		justify-content: space-between;
	}
}

.user-settings-voice {
	.options {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	.option {
		display: flex;
		align-items: center;
		gap: 4px;
		padding: 4px;
		cursor: pointer;

		&:hover {
			background: $bg-150;
		}
	}

	.title {
		margin-top: 16px;
		margin-left: 4px;
	}

	.title2 {
		margin-left: 4px;
	}

	.title3 {
		margin-top: 8px;
		margin-left: 4px;
	}

	.apart {
		justify-content: space-between;
	}

	.volume {
		width: 100%;
	}
}

.user-settings-applications {
	padding-right: calc(100% - 60ch);
	padding-left: 0.25rem;
	padding-top: 0.25rem;

	.applications-header {
		display: flex;
		gap: 8px;
		margin: 8px 0 16px;

		input {
			flex: 1;
			padding: 0 8px;
		}
	}

	.applications-list {
		display: flex;
		flex-direction: column;
		margin-bottom: 6rem;

		& .oauth {
			border: solid #444 1px;
			padding: 4px;
			margin: 4px;
		}

		& .sessions {
			border: solid #444 1px;
			margin: 4px;
			padding: 4px;
		}

		& .invite {
			border: solid #444 1px;
			margin: 4px;
			padding: 4px;
		}
	}

	details {
		background: $bg-150;
		border: solid $sep-300 1px;
		margin-bottom: 8px;
	}

	summary {
		padding: 8px;

		&:hover {
			background: $bg-100;
		}
	}

	.inner {
		padding: 8px;
		background: $bg-150;
	}

	details[open] > summary {
		border-bottom: solid $sep-300 1px;
		margin-bottom: 8px;
	}

	.option {
		display: flex;
		align-items: center;
		gap: 4px;
		padding: 4px;
		cursor: pointer;

		&:hover {
			background: $bg-100;
		}
	}
}
