$fg1: rgb(var(--color-fg1));
$fg2: rgb(var(--color-fg2));
$fg3: rgb(var(--color-fg3));
$fg4: rgb(var(--color-fg4));
$fg5: rgb(var(--color-fg5));
$bg1: rgb(var(--color-bg1));
$bg2: rgb(var(--color-bg2));
$bg3: rgb(var(--color-bg3));
$bg4: rgb(var(--color-bg4));
$sep: rgb(var(--color-sep));
$link: rgb(var(--color-link));

@mixin truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre;
}
