/* utility stuff */

$fg-100: oklch(var(--color-fg1));
$fg-200: oklch(var(--color-fg2));
$fg-300: oklch(var(--color-fg3));
$fg-400: oklch(var(--color-fg4));
$fg-500: oklch(var(--color-fg5));
$fg-600: oklch(var(--color-fg6));
$bg-100: oklch(var(--color-bg1));
$bg-150: oklch(var(--color-bg1-5));
$bg-200: oklch(var(--color-bg2));
$bg-300: oklch(var(--color-bg3));
$bg-400: oklch(var(--color-bg4));
$sep-300: oklch(var(--color-sep-300));
$sep-500: oklch(var(--color-sep));
$sep-800: oklch(var(--color-sep-800));
$link-200: oklch(var(--color-link-200));
$link-300: oklch(var(--color-link-300));
$link-400: oklch(var(--color-link-400));
$link-500: oklch(var(--color-link-500));
$warn-500: oklch(var(--color-warn));
$error-500: oklch(var(--color-error));
$success-500: oklch(var(--color-green));
$status-offline: oklch(var(--color-sep));
$status-online: oklch(var(--color-status-online));

$color-red: oklch(var(--color-red));
$color-green: oklch(var(--color-green));
$color-yellow: oklch(var(--color-yellow));
$color-blue: oklch(var(--color-blue));
$color-magenta: oklch(var(--color-magenta));
$color-cyan: oklch(var(--color-cyan));
$color-orange: oklch(var(--color-orange));
$color-teal: oklch(var(--color-teal));

@mixin truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre;
}

@mixin center {
	display: grid;
	place-items: center center;
}
