/* utility stuff */

$fg-100: oklch(var(--color-fg1));
$fg-200: oklch(var(--color-fg2));
$fg-300: oklch(var(--color-fg3));
$fg-400: oklch(var(--color-fg4));
$fg-500: oklch(var(--color-fg5));
$fg-600: oklch(var(--color-fg6));
$bg-100: oklch(var(--color-bg1));
$bg-200: oklch(var(--color-bg2));
$bg-300: oklch(var(--color-bg3));
$bg-400: oklch(var(--color-bg4));
$sep-500: oklch(var(--color-sep));
$link-500: oklch(var(--color-link));
$warn-500: oklch(var(--color-warn));
$error-500: oklch(var(--color-error));

@mixin truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre;
}
