@use "./util.scss" as *;

.voice {
	background: black;
	position: relative;
	grid-area: main;
	min-height: 0;
	overflow: hidden;

	& > .header,
	& > .footer {
		opacity: 1;
		/* translate: 0 0; */
		transition: all 200ms;
	}

	& > .header {
		position: absolute;
		top: 0;
		background: linear-gradient(to bottom, #000d 50%, transparent);
		width: 100%;
		padding: 8px;
		text-shadow: #000000 1px 1px 3px;
		display: flex;
	}

	& > .footer {
		position: absolute;
		bottom: 0;
		background: linear-gradient(to top, #000d 50%, transparent);
		width: 100%;
		height: 64px;
		display: flex;
		padding: 8px;
		padding-bottom: 16px;
		align-items: center;
		justify-content: center;
		/* translate: 0 100%; */

		.controls {
			display: flex;
			gap: 6px;

			.icon-button {
				display: flex;
				justify-content: stretch;
				align-items: stretch;
				height: 42px;
				width: 42px;
				padding: 10px;
				border-radius: 50%;
				background: #fff1;

				& > .toggle-icon,
				& > .icon2 {
					height: 100%;
					width: 100%;
				}

				&.disconnect {
					background-color: oklch(from $color-red calc(l - 0.00) c h);

					& > .icon2 {
						background: $bg-100;
					}
				}

				&:hover {
					background: #fff3;

					&.disconnect {
						background-color: oklch(from $color-red calc(l + 0.10) c h);
					}
				}
			}
		}
	}

	& > .streams {
		overflow-y: auto;
		overflow-x: hidden;
		height: 100%;

		& > .streams-inner {
			display: flex;
			flex-direction: column;
			justify-content: center;
			min-height: 100%;

			& > .list {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
				gap: 16px;
				padding: 16px;
				width: 100%;
				padding-bottom: 64px;
			}

			& > .focused {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 16px;
				width: 100%;
				max-height: calc(100% - 160px);
				min-height: 50%;

				& > .stream {
					width: 100%;
					height: 100%;
					max-width: 100%;
				}
			}

			& > .list + .focused {
				margin-top: 0;
			}
		}

		&[data-layout="focus"] {
			& > .streams-inner > .list {
				grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
				gap: 8px;

				// NOTE: these stylings could be useful for something else, but im not sure what?
				/* border-top: solid $sep-500 1px; */
				/* background-image: linear-gradient(to bottom, $bg-100 50%, transparent); */

				.stream {
					width: 100%;
					height: auto;
					aspect-ratio: 16 / 9;
				}
			}
		}

		&[data-layout="fullscreen"] {
			& > .streams-inner > .focused {
				width: 100%;
				height: 100%;
				max-height: 100%;
				padding: 0;

				.stream {
					border-radius: 0;
					border: none;
				}
			}
		}

		.stream {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			aspect-ratio: 16 / 9;
			border: solid $sep-500 1px;
			background: $bg-100;
			border-radius: 8px;

			video {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}

			.live {
				position: absolute;
				top: 8px;
				left: 8px;
				background-color: oklch(from $color-red calc(l - 0.20) calc(c - 0.00)
					h);
				color: $fg-100;
				padding: 0 4px;
				border-radius: 4px;
				text-transform: uppercase;
				font-weight: bold;
				pointer-events: none;
				transition: opacity 100ms;
			}

			&.speaking {
				// TODO: stable border
				border: solid $color-green 2px;
			}

			.status {
				position: absolute;
				bottom: 4px;
				left: 4px;
				background: #000000aa;
				padding: 4px 8px;
				border-radius: 4px;
				transition: opacity 200ms;
			}

			.button.watch {
				padding: 8px;
				border-radius: 8px;
			}
		}
	}
}

.voice.hide-ui {
	cursor: none;

	& > .header,
	& > .footer {
		opacity: 0;
		/* translate: 0 0; */
	}

	& .stream {
		& > .live,
		& > .status {
			opacity: 0;
		}
	}
}

.voice-streams {
	display: none;
}

.voice-chat-sidebar {
	background-color: $bg-150;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100%;
	width: 100%;

	.chat {
		grid-area: auto;
		flex: 1;
		min-height: 0;
		background-color: transparent;
	}
}
