.thread {
	height: 100%;
	position: relative;
	display: grid;
	grid-template-rows: 24px 1fr;
	flex: 1;
}

.thread > .scroll {
	list-style: none;
	padding: 8px 0;
	display: flex;
	flex-direction: column;
	/* justify-content: end; */
  overflow-y: auto;
  overflow-anchor: none;
}

.editorwrap {
	position: sticky;
	bottom: 0;
	width: 100%;
	background: linear-gradient(to bottom, transparent, var(--color-bg) 75%);
	display: flex;
	translate: 0 8px;
	padding: 4px 0;
	padding-left: 142px;
	padding-right: 4px;
	max-height: 50vh;
}

header {
	background: var(--color-bg2);
	border-bottom: solid var(--color-border) 1px;
	display: flex;
	align-items: center;
	padding: 4px;
}

.editorInside {
	background: var(--color-bg2);
	flex: 1;
	border: solid var(--color-border) 1px;
	padding: 0 2px;
	white-space: pre-wrap;
	overflow-y: auto;
}

.editorDisabled {
	background: var(--color-bg3);
}

.editorInside [data-mention] {
	color: #78e;
}

.editorInside .placeholder, .editorInside .syn {
	color: #777;
}

.editorInside .placeholder {
	position: absolute;
}

.editorInside .link {
	color: #b318f0;
	text-decoration: underline;
}

.editorInside .header {
	font-weight: bold;
}

.editorInside:focus {
	outline: solid #4af 1px;
}

.loader {
	--spinner-size: 10px;
	position: fixed;
	display: flex;
	align-items: center;
	bottom: 4px;
	left: 4px;
	padding: 4px;
	color: #eee;
	background: #2228;
	transition: opacity 100ms linear;
	opacity: 0;
}

.loaderSpinner {
	margin-right: 8px;
	height: var(--spinner-size);
	width: var(--spinner-size);
	border: solid #eee 2px;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-radius: 50%;
	animation: loader 300ms linear infinite;
}

.loaderDots::before {
	position: absolute;
	content: "";
	animation: loaderAfter 500ms linear infinite;
}

.loaderDots::after {
	content: "...";
	visibility: hidden;
}

@keyframes loader {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(1turn);
	}
}

@keyframes loaderAfter {
	0% {
		content: "";
	}
	25% {
		content: ".";
	}
	50% {
		content: "..";
	}
	75% {
		content: "...";
	}
}

.messages {
	list-style: none;
	padding: 8px 0;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.messageWrap {
	display: grid;
	grid-template-columns: 128px auto max-content;
	grid-wrap: none;
	padding: 0 8px;
}

.message {
	/* empty */
}

.is_local .body {
	color: #888888;
}

.sender {
	color: #999;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

.sender:hover {
	text-decoration: underline;
}

.body {
	margin: 0 8px;
	white-space: pre-wrap;
	overflow: hidden;
}

.time {
	visibility: hidden;
	color: #aaa;
}

.messageWrap:hover {
	background: #dddddd22;
}

.messageWrap:hover .time {
	visibility: visible;
}

.messages.notime .time {
	display: none;
}

.unreadMarker {
	color: #3fa9c9;
	background: #3fa9c922;
	box-shadow: 3px 0 0 #3fa9c9 inset;
}

.mention {
	background: #67dc8222;
	box-shadow: 3px 0 0 #67dc82 inset;
}

.unread {
	box-shadow: 3px 0 0 #3fa9c9 inset;
}

.timeSplit {
	color: #aaa;
	font-style: italic;
}

.timeSplit2 {
	display: flex;
	color: #aaa;
	font-size: 0.9rem;
	align-items: center;
	gap: 8px;
	margin: 2px 8px;
}

.timeSplit2 > hr {
	flex: 1;
	border-bottom: solid #ccc 1px;
}

.timeSplit2 > time {
	/* HACK: visually center text */
	margin-top: -1px;
}

.unreadMarker2 {
	display: flex;
	font-size: 0.9rem;
	align-items: center;
	gap: 8px;
	padding: 0 8px;
	color: #3fa9c9;
	/* background: #3fa9c922; */
	box-shadow: 3px 0 0 #3fa9c9 inset;
}

.unreadMarker2 > hr {
	flex: 1;
	border-bottom: solid #3fa9c9 1px;
}

/* stop list-style-type: inline markers from being forced onto a newlin */
.body li > * {
	display: inline;
}
