/* deno-fmt-ignore-file */

.f-row {
  display: flex;
  flex-direction: row;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.bg1  { background-color: var(--color-bg) }
.bg2  { background-color: var(--color-bg2) }
.bg3  { background-color: var(--color-bg3) }
.bgf1 { background-color: var(--color-fg) }
.bgf2 { background-color: var(--color-fg2) }
.bgf3 { background-color: var(--color-fg3) }
.bgf4 { background-color: var(--color-fg4) }
.bgf1-h:hover { background-color: var(--color-fg1) }
.bgf2-h:hover { background-color: var(--color-fg2) }
.bgf3-h:hover { background-color: var(--color-fg3) }
.bgf4-h:hover { background-color: var(--color-fg4) }

.w144 { width: 144px }
.w256 { width: 256px }

.ml8 { margin-left: 8px }
.ml16 { margin-left: 16px }

.lsn { list-style: none }
